@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/*Left Menu bottom*/
/* undergraduate body button */
/*Team Structure*/
/*  gray-widgets*/
/* line 3, ../sass/about-department-society.scss */
img {
  max-width: 100%;
}

/*Banner*/
/* line 10, ../sass/about-department-society.scss */
.slider {
  margin-top: 40px;
}
/* line 12, ../sass/about-department-society.scss */
.slider img {
  max-width: 100%;
}

/*Left Panel*/
/* line 19, ../sass/about-department-society.scss */
.left-menu {
  background: #ffffff;
  box-shadow: 12px 1px 50px 8px rgba(0, 0, 0, 0.05);
}
/* line 59, ../sass/_mixins.scss */
.left-menu ul {
  list-style: none;
}
/* line 61, ../sass/_mixins.scss */
.left-menu ul li {
  list-style: none;
}
/* line 63, ../sass/_mixins.scss */
.left-menu ul li:last-child {
  border: none;
}
/* line 66, ../sass/_mixins.scss */
.left-menu ul li a {
  color: #000000;
  padding: 20px 0;
  display: block;
  border-bottom: #f0f0f0 1px solid;
  font-family: "crimson_textroman";
  font-size: 1rem;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/_mixins.scss */
  .left-menu ul li a {
    font-size: 1.125rem;
  }
}
/* line 77, ../sass/_mixins.scss */
.left-menu ul li a:hover {
  color: #8d5715;
  cursor: pointer;
  font-family: "crimson_textbold";
}
/* line 81, ../sass/_mixins.scss */
.left-menu ul li a:hover:after {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  line-height: 12px;
}
/* line 90, ../sass/_mixins.scss */
.left-menu ul li .active {
  color: #8d5715;
  cursor: pointer;
  font-family: "crimson_textbold";
}
/* line 94, ../sass/_mixins.scss */
.left-menu ul li .active:after {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  line-height: 12px;
}
/* line 102, ../sass/_mixins.scss */
.left-menu ul li ul {
  width: 100%;
  padding-left: 17px;
  background: #f8f8f8;
}
/* line 107, ../sass/_mixins.scss */
.left-menu ul li ul li a {
  border-bottom: #ffffff 2px solid;
}
/* line 111, ../sass/_mixins.scss */
.left-menu ul li ul li:last-child a {
  border-bottom: none;
}

/* line 23, ../sass/about-department-society.scss */
ul.leftmenu-bottom {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 145, ../sass/_mixins.scss */
ul.leftmenu-bottom li {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
/* line 149, ../sass/_mixins.scss */
ul.leftmenu-bottom li a {
  display: block;
  padding: 20px;
  text-align: center;
  border: #8d5715 2px solid;
  color: #8d5715;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}
/* line 158, ../sass/_mixins.scss */
ul.leftmenu-bottom li a:hover {
  background: #8d5715;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  /* line 149, ../sass/_mixins.scss */
  ul.leftmenu-bottom li a {
    font-size: 1rem;
  }
}

/* line 27, ../sass/about-department-society.scss */
.breadcrumb {
  background: none;
  margin-top: 10px;
  font-size: 0.75rem;
  padding: 0;
}
/* line 127, ../sass/_mixins.scss */
.breadcrumb span {
  color: #8d5715;
}
@media screen and (max-width: 992px) {
  /* line 27, ../sass/about-department-society.scss */
  .breadcrumb {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 27, ../sass/about-department-society.scss */
  .breadcrumb {
    font-size: 1.063rem;
  }
}

/*Right Panel*/
/* line 33, ../sass/about-department-society.scss */
.right-panel {
  padding-top: 93px;
}
@media screen and (max-width: 767px) {
  /* line 33, ../sass/about-department-society.scss */
  .right-panel {
    padding-top: 20px;
  }
}
/* line 39, ../sass/about-department-society.scss */
.right-panel .events {
  background: #f0f0f0;
  padding: 12px;
  margin-bottom: 50px;
  font-size: 0.75rem;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  /* line 39, ../sass/about-department-society.scss */
  .right-panel .events {
    font-size: 1.063rem;
  }
}
/* line 50, ../sass/about-department-society.scss */
.right-panel .events .date {
  color: #8d5715;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 57, ../sass/about-department-society.scss */
.right-panel .last-event-block {
  font-size: 0.75rem;
  position: relative;
  color: #ffffff;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  /* line 57, ../sass/about-department-society.scss */
  .right-panel .last-event-block {
    font-size: 1.063rem;
  }
}
/* line 66, ../sass/about-department-society.scss */
.right-panel .last-event-block .overlay {
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100%;
  vertical-align: bottom;
  align-items: flex-end;
}
/* line 76, ../sass/about-department-society.scss */
.right-panel .last-event-block .overlay .date {
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 81, ../sass/about-department-society.scss */
.right-panel .last-event-block .overlay p {
  margin: 0;
}
/* line 87, ../sass/about-department-society.scss */
.right-panel .last-event-block .title {
  position: absolute;
  top: 12px;
  left: 12px;
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 3px;
}
/* line 95, ../sass/about-department-society.scss */
.right-panel .upcoming {
  position: relative;
}
/* line 97, ../sass/about-department-society.scss */
.right-panel .upcoming:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 65%;
  border-top: #8d5715 4px solid;
}
/* line 105, ../sass/about-department-society.scss */
.right-panel .upcoming h4 {
  font-size: 1.25rem;
  color: #8d5715;
  font-weight: normal;
}

/* line 114, ../sass/about-department-society.scss */
.responsive-video iframe {
  width: 100% !important;
}

/*Midle Content*/
/* line 249, ../sass/_mixins.scss */
.team-block ul {
  list-style: none;
  padding: 0;
}
/* line 252, ../sass/_mixins.scss */
.team-block ul li {
  list-style: none;
  font-size: 0.75rem;
  margin-bottom: 25px;
  line-height: 16px;
  font-family: "gotham_mediumregular";
}
@media screen and (max-width: 1200px) {
  /* line 260, ../sass/_mixins.scss */
  .team-block ul li img {
    max-width: 100%;
    padding: 0 5px;
  }
}
@media screen and (max-width: 992px) {
  /* line 252, ../sass/_mixins.scss */
  .team-block ul li {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 252, ../sass/_mixins.scss */
  .team-block ul li {
    text-align: center;
  }
}
/* line 273, ../sass/_mixins.scss */
.team-block ul li h3 {
  font-size: 1.063rem;
  color: #000000;
  padding: 10px 0 0;
  line-height: 16px;
  font-family: "gotham_mediumregular";
}
@media screen and (min-width: 767px) {
  /* line 273, ../sass/_mixins.scss */
  .team-block ul li h3 {
    font-size: 0.875rem;
  }
}
/* line 284, ../sass/_mixins.scss */
.team-block ul li a {
  color: #000000;
  text-decoration: underline;
  display: block;
  overflow: hidden;
}

/*# sourceMappingURL=about-department-society.css.map */
