@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/*Left Menu bottom*/
/* undergraduate body button */
/*Team Structure*/
/*  gray-widgets*/
/*Banner*/
/* line 5, ../sass/about-department.scss */
.banner {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  margin-top: 243px;
  padding-top: 30px;
}
@media screen and (max-width: 992px) {
  /* line 5, ../sass/about-department.scss */
  .banner {
    height: auto;
  }
}
/* line 50, ../sass/_mixins.scss */
.banner .banner-wrapper {
  overflow-y: hidden;
  height: auto;
}
/* line 10, ../sass/about-department.scss */
.banner .top-fix-color-bg {
  height: 800px;
  left: -157px;
}
@media screen and (max-width: 992px) {
  /* line 10, ../sass/about-department.scss */
  .banner .top-fix-color-bg {
    left: -260px;
  }
}

/*Left Panel*/
/* line 21, ../sass/about-department.scss */
.left-menu {
  background: #ffffff;
  box-shadow: 12px 1px 50px 8px rgba(0, 0, 0, 0.05);
}
/* line 59, ../sass/_mixins.scss */
.left-menu ul {
  list-style: none;
}
/* line 61, ../sass/_mixins.scss */
.left-menu ul li {
  list-style: none;
}
/* line 63, ../sass/_mixins.scss */
.left-menu ul li:last-child {
  border: none;
}
/* line 66, ../sass/_mixins.scss */
.left-menu ul li a {
  color: #000000;
  padding: 20px 0;
  display: block;
  border-bottom: #f0f0f0 1px solid;
  font-family: "crimson_textroman";
  font-size: 1rem;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  /* line 66, ../sass/_mixins.scss */
  .left-menu ul li a {
    font-size: 1.125rem;
  }
}
/* line 77, ../sass/_mixins.scss */
.left-menu ul li a:hover {
  color: #8d5715;
  cursor: pointer;
  font-family: "crimson_textbold";
}
/* line 81, ../sass/_mixins.scss */
.left-menu ul li a:hover:after {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  line-height: 12px;
}
/* line 90, ../sass/_mixins.scss */
.left-menu ul li .active {
  color: #8d5715;
  cursor: pointer;
  font-family: "crimson_textbold";
}
/* line 94, ../sass/_mixins.scss */
.left-menu ul li .active:after {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  line-height: 12px;
}
/* line 102, ../sass/_mixins.scss */
.left-menu ul li ul {
  width: 100%;
  padding-left: 17px;
  background: #f8f8f8;
}
/* line 107, ../sass/_mixins.scss */
.left-menu ul li ul li a {
  border-bottom: #ffffff 2px solid;
}
/* line 111, ../sass/_mixins.scss */
.left-menu ul li ul li:last-child a {
  border-bottom: none;
}

/* line 25, ../sass/about-department.scss */
.breadcrumb {
  background: none;
  margin-top: 10px;
  font-size: 0.75rem;
  padding: 0;
}
/* line 127, ../sass/_mixins.scss */
.breadcrumb span {
  color: #8d5715;
}
@media screen and (max-width: 992px) {
  /* line 25, ../sass/about-department.scss */
  .breadcrumb {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 25, ../sass/about-department.scss */
  .breadcrumb {
    font-size: 1.063rem;
  }
}

/*Middle Content Panel*/
/* line 31, ../sass/about-department.scss */
.middle-content a {
  color: #8d5715;
  text-decoration: underline;
}
/* line 34, ../sass/about-department.scss */
.middle-content a:hover {
  text-decoration: none;
}

/*Right Panel*/
/* line 42, ../sass/about-department.scss */
.department-right-section {
  padding-top: 93px;
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/about-department.scss */
  .department-right-section {
    padding-top: 20px;
  }
}
/* line 48, ../sass/about-department.scss */
.department-right-section h4 {
  font-size: 0.875rem;
  padding-top: 6px;
}
/* line 51, ../sass/about-department.scss */
.department-right-section h4 span {
  font-size: 0.75rem;
}
/* line 55, ../sass/about-department.scss */
.department-right-section .testimonial {
  color: #d58320;
  font-style: italic;
  font-size: 0.75rem;
}

/* line 65, ../sass/about-department.scss */
.department.work-with-gray-bg {
  position: relative;
}
/* line 67, ../sass/about-department.scss */
.department.work-with-gray-bg .faculty-right-gray-bg, .department.work-with-gray-bg .faculty-left-gray-bg {
  background: #f0f0f0;
  width: 253px;
  height: 450px;
  position: absolute;
  left: 1096px;
  top: 175px;
  z-index: -3;
}
@media screen and (max-width: 1200px) {
  /* line 67, ../sass/about-department.scss */
  .department.work-with-gray-bg .faculty-right-gray-bg, .department.work-with-gray-bg .faculty-left-gray-bg {
    left: inherit;
    width: 300px;
    right: 0;
  }
}
@media screen and (max-width: 992px) {
  /* line 67, ../sass/about-department.scss */
  .department.work-with-gray-bg .faculty-right-gray-bg, .department.work-with-gray-bg .faculty-left-gray-bg {
    width: 300px;
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 67, ../sass/about-department.scss */
  .department.work-with-gray-bg .faculty-right-gray-bg, .department.work-with-gray-bg .faculty-left-gray-bg {
    display: none;
  }
}
/* line 91, ../sass/about-department.scss */
.department.work-with-gray-bg .faculty-right-gray-bg .work-with-us-bg-text, .department.work-with-gray-bg .faculty-left-gray-bg .work-with-us-bg-text {
  font-size: 75px;
  font-family: "open_sanslight";
  color: #f8f8f8;
  line-height: 108px;
  position: absolute;
  left: -230px;
}
@media screen and (min-width: 767px) {
  /* line 91, ../sass/about-department.scss */
  .department.work-with-gray-bg .faculty-right-gray-bg .work-with-us-bg-text, .department.work-with-gray-bg .faculty-left-gray-bg .work-with-us-bg-text {
    top: 142px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 91, ../sass/about-department.scss */
  .department.work-with-gray-bg .faculty-right-gray-bg .work-with-us-bg-text, .department.work-with-gray-bg .faculty-left-gray-bg .work-with-us-bg-text {
    top: 118px;
  }
}
/* line 105, ../sass/about-department.scss */
.department.work-with-gray-bg .faculty-right-gray-bg .work-with-us-bg-text span, .department.work-with-gray-bg .faculty-left-gray-bg .work-with-us-bg-text span {
  margin-left: 155px;
}
/* line 110, ../sass/about-department.scss */
.department.work-with-gray-bg .faculty-left-gray-bg {
  left: inherit;
  right: 1448px;
}

/*# sourceMappingURL=about-department.css.map */
