@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/*Left Menu bottom*/
/* undergraduate body button */
/*Team Structure*/
/*  gray-widgets*/
/* line 2, ../sass/academies-major.scss */
.semester-table {
  padding-top: 30px;
}
@media screen and (max-width: 480px) {
  /* line 2, ../sass/academies-major.scss */
  .semester-table {
    overflow-x: scroll;
  }
}
/* line 7, ../sass/academies-major.scss */
.semester-table table {
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  /* line 7, ../sass/academies-major.scss */
  .semester-table table {
    width: 200px;
  }
}
/* line 14, ../sass/academies-major.scss */
.semester-table table tr:last-child {
  font-family: "open_sansbold";
}
@media screen and (max-width: 992px) {
  /* line 14, ../sass/academies-major.scss */
  .semester-table table tr:last-child {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 14, ../sass/academies-major.scss */
  .semester-table table tr:last-child {
    font-size: 1.188rem;
  }
}
/* line 22, ../sass/academies-major.scss */
.semester-table table tr:last-child td {
  padding-top: 20px;
}
/* line 27, ../sass/academies-major.scss */
.semester-table table tr td:first-child {
  width: 85%;
}
/* line 33, ../sass/academies-major.scss */
.semester-table .semester-table-title {
  font-family: "open_sanssemibold";
  color: #8d5715;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #c3c3c3;
}

/* line 42, ../sass/academies-major.scss */
.specialisation-table-title {
  font-family: "open_sanssemibold";
  color: #8d5715;
  text-transform: normal;
  padding-bottom: 10px;
  border-bottom: 2px solid #c3c3c3;
  margin-bottom: 10px;
}

/* below tab and accordion section  */
@media screen and (max-width: 635px) {
  /* line 56, ../sass/academies-major.scss */
  .undergraduate-inner-page-tab {
    overflow-x: scroll;
  }
}
/* line 62, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .nav-tabs li a {
  font-family: "open_sanssemibold";
  color: #c3c3c3;
}
/* line 68, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .nav-tabs li.active a {
  font-family: "open_sanssemibold";
  color: #8d5715;
  border: none;
  border-bottom: 2px solid #8d5715;
  padding: 10px 30px;
}
/* line 77, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion {
  padding-top: 50px;
}
@media screen and (max-width: 480px) {
  /* line 77, ../sass/academies-major.scss */
  .undergraduate-inner-page-tab .undergraduate-inner-page-accordion {
    width: 480px;
  }
}
/* line 82, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default {
  border: none;
  box-shadow: none;
}
/* line 85, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading {
  padding: 0;
  background: #f8f8f8;
}
/* line 89, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a {
  display: block;
  padding: 10px 20px;
  font-family: "open_sanssemibold";
  font-size: 0.75rem;
  color: #656565;
}
@media screen and (max-width: 767px) {
  /* line 89, ../sass/academies-major.scss */
  .undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a {
    font-size: 1.063rem;
  }
}
/* line 99, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a span {
  color: #000000;
  font-family: "open_sansregular";
  padding-left: 50px;
  font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  /* line 99, ../sass/academies-major.scss */
  .undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a span {
    font-size: 1.063rem;
    padding-left: 20px;
  }
}
/* line 108, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a span:nth-child(3) {
  font-family: "open_sanssemibold";
  float: right;
  color: #656565;
  margin-right: 100px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  /* line 108, ../sass/academies-major.scss */
  .undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a span:nth-child(3) {
    font-size: 1.063rem;
    margin-right: 30px;
  }
}
/* line 121, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a i {
  float: right;
  font-size: 1.375em;
}
@media screen and (max-width: 767px) {
  /* line 121, ../sass/academies-major.scss */
  .undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a i {
    font-size: 1.375em;
  }
}
/* line 128, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a:hover, .undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-default .panel-heading .panel-title a:focus {
  text-decoration: none;
}
/* line 137, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-body .details {
  padding-bottom: 20px;
}
/* line 139, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-body .details a {
  color: #8d5715;
  text-decoration: underline;
}
/* line 145, ../sass/academies-major.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion .panel-body p a {
  color: #8d5715;
  text-decoration: underline;
  font-family: "open_sanssemibold";
}

/*  major-page-right-section*/
/* line 159, ../sass/academies-major.scss */
.major-page-right-section .gray-widgets, .major-page-right-section .left-gray-widgets {
  background: #f0f0f0;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "open_sansbold";
  font-size: 1rem;
}
@media screen and (min-width: 767px) {
  /* line 159, ../sass/academies-major.scss */
  .major-page-right-section .gray-widgets, .major-page-right-section .left-gray-widgets {
    font-size: 0.75rem;
  }
}
/* line 308, ../sass/_mixins.scss */
.major-page-right-section .gray-widgets:before, .major-page-right-section .left-gray-widgets:before {
  content: '';
  width: 60%;
  height: 4px;
  background: #8d5715;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 317, ../sass/_mixins.scss */
.major-page-right-section .gray-widgets .widgets-title, .major-page-right-section .left-gray-widgets .widgets-title {
  color: #8d5715;
  font-size: 1.5rem;
  font-family: "open_sansregular";
  padding-bottom: 5px;
}
@media screen and (min-width: 767px) {
  /* line 317, ../sass/_mixins.scss */
  .major-page-right-section .gray-widgets .widgets-title, .major-page-right-section .left-gray-widgets .widgets-title {
    font-size: 1.188rem;
  }
}
/* line 162, ../sass/academies-major.scss */
.major-page-right-section p {
  font-size: 0.75rem;
  color: #c3c3c3;
}
@media screen and (max-width: 767px) {
  /* line 162, ../sass/academies-major.scss */
  .major-page-right-section p {
    font-size: 1.125rem;
  }
}
/* line 170, ../sass/academies-major.scss */
.major-page-right-section .left-gray-widgets {
  font-family: "open_sansregular";
}

/*# sourceMappingURL=academies-major.css.map */
