@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/*Left Menu bottom*/
/* undergraduate body button */
/*Team Structure*/
/*  gray-widgets*/
/*  banner section */
/* line 5, ../sass/engineering.scss */
.banner-section {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  margin-top: 335px;
}
@media screen and (max-width: 992px) {
  /* line 5, ../sass/engineering.scss */
  .banner-section {
    height: auto;
  }
}
/* line 50, ../sass/_mixins.scss */
.banner-section .banner-wrapper {
  overflow-y: hidden;
  height: auto;
}
/* line 8, ../sass/engineering.scss */
.banner-section .banner-img {
  height: 700px;
  overflow-y: hidden;
  border-left: 20px solid #ffffff;
  border-bottom: 20px solid #ffffff;
}
/* line 13, ../sass/engineering.scss */
.banner-section .banner-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  /* line 8, ../sass/engineering.scss */
  .banner-section .banner-img {
    height: auto;
    overflow: auto;
    border: none;
  }
}
/* line 23, ../sass/engineering.scss */
.banner-section .banner-overlap-div {
  background: #f8f8f8;
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  /* line 23, ../sass/engineering.scss */
  .banner-section .banner-overlap-div {
    width: 370px;
    height: 335px;
    bottom: -20px;
    position: absolute;
  }
}
@media screen and (min-width: 992px) {
  /* line 23, ../sass/engineering.scss */
  .banner-section .banner-overlap-div {
    width: 500px;
    height: 250px;
    bottom: 0;
  }
}
/* line 44, ../sass/engineering.scss */
.banner-section .banner-overlap-div a {
  color: #8d5715;
  text-decoration: underline;
}
/* line 48, ../sass/engineering.scss */
.banner-section .banner-overlap-div h1 {
  padding: 0;
}
/* line 51, ../sass/engineering.scss */
.banner-section .banner-overlap-div h3 {
  padding: 0 0 20px 0;
  color: #c3c3c3;
  font-family: "crimson_textroman";
}
/* line 56, ../sass/engineering.scss */
.banner-section .banner-overlap-div p {
  line-height: 30px;
  color: #000000;
}
/* line 62, ../sass/engineering.scss */
.banner-section .date-section {
  background: #8d5715;
  position: relative;
  right: 0;
  width: 100%;
}
@media screen and (min-width: 767px) {
  /* line 62, ../sass/engineering.scss */
  .banner-section .date-section {
    position: absolute;
    padding: 25px 25px 25px 348px;
    bottom: 0;
    position: absolute;
  }
}
@media screen and (min-width: 992px) {
  /* line 62, ../sass/engineering.scss */
  .banner-section .date-section {
    bottom: 20px;
    padding: 25px 25px 25px 500px;
  }
}
/* line 77, ../sass/engineering.scss */
.banner-section .date-section .date-icon {
  padding: 10px 25px 10px 30px;
  border-right: 1px solid #ffffff;
  width: 30px;
  box-sizing: content-box;
  float: left;
}
/* line 83, ../sass/engineering.scss */
.banner-section .date-section .date-icon i {
  color: #ffffff;
  font-size: 2rem;
}
/* line 88, ../sass/engineering.scss */
.banner-section .date-section .event-date {
  width: 190px;
  float: left;
  font-size: 1rem;
  color: #ffffff;
  font-family: "source_sans_prolight";
  line-height: 18px;
  padding: 10px 0 10px 35px;
}
@media screen and (max-width: 635px) {
  /* line 88, ../sass/engineering.scss */
  .banner-section .date-section .event-date {
    width: 175px;
    font-size: 1.188rem;
  }
}
/* line 100, ../sass/engineering.scss */
.banner-section .date-section .event-date .date {
  font-size: 0.875rem;
  line-height: 18px;
  width: 45px;
  float: left;
}
/* line 105, ../sass/engineering.scss */
.banner-section .date-section .event-date .date span {
  font-size: 1.625rem;
  font-family: "source_sans_proregular";
  width: 100%;
  float: left;
}
@media screen and (max-width: 635px) {
  /* line 114, ../sass/engineering.scss */
  .banner-section .date-section .event-date:nth-child(3), .banner-section .date-section .event-date:nth-child(4) {
    padding-left: 25px;
  }
}
@media screen and (max-width: 480px) {
  /* line 120, ../sass/engineering.scss */
  .banner-section .date-section .event-date:nth-child(3), .banner-section .date-section .event-date:nth-child(4) {
    display: none;
  }
}

/* body css start  */
/* line 131, ../sass/engineering.scss */
section {
  padding: 70px 0;
}

/* line 135, ../sass/engineering.scss */
.block-1-left {
  width: 50%;
  float: left;
  padding-right: 15px;
}
@media screen and (max-width: 992px) {
  /* line 135, ../sass/engineering.scss */
  .block-1-left {
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 135, ../sass/engineering.scss */
  .block-1-left {
    width: 50%;
    padding-right: 15px;
  }
}
@media screen and (max-width: 635px) {
  /* line 135, ../sass/engineering.scss */
  .block-1-left {
    width: 100%;
    padding-right: 0;
  }
}
/* line 151, ../sass/engineering.scss */
.block-1-left .ime-text {
  margin-bottom: 30px;
  position: relative;
}
/* line 154, ../sass/engineering.scss */
.block-1-left .ime-text img {
  width: 100%;
}

/* line 160, ../sass/engineering.scss */
.block-1-right {
  width: 50%;
  float: left;
  padding-left: 15px;
}
@media screen and (max-width: 992px) {
  /* line 160, ../sass/engineering.scss */
  .block-1-right {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 160, ../sass/engineering.scss */
  .block-1-right {
    width: 50%;
    padding-left: 15px;
  }
}
@media screen and (max-width: 635px) {
  /* line 160, ../sass/engineering.scss */
  .block-1-right {
    width: 100%;
    padding-left: 0;
  }
}
/* line 176, ../sass/engineering.scss */
.block-1-right .ime-text {
  margin-bottom: 30px;
  position: relative;
  width: 50%;
  float: left;
}
/* line 181, ../sass/engineering.scss */
.block-1-right .ime-text:first-child {
  border-right: 10px solid #ffffff;
}
/* line 184, ../sass/engineering.scss */
.block-1-right .ime-text:nth-child(2) {
  border-left: 10px solid #ffffff;
}
/* line 187, ../sass/engineering.scss */
.block-1-right .ime-text img {
  width: 100%;
}
/* line 191, ../sass/engineering.scss */
.block-1-right h1 {
  font-family: "open_sanslight";
  color: #8d5715;
  font-size: 2.25rem;
}
/* line 196, ../sass/engineering.scss */
.block-1-right p {
  color: #656565;
}

/* line 203, ../sass/engineering.scss */
.ime-text .overlap-div {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 210, ../sass/engineering.scss */
.ime-text .overlap-div div {
  display: table;
  width: 100%;
  height: 100%;
  padding: 12px;
  text-align: center;
}
/* line 216, ../sass/engineering.scss */
.ime-text .overlap-div div h2 {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-family: "open_sanssemibold";
  font-size: 1.375rem;
  line-height: 24px;
}

/* line 229, ../sass/engineering.scss */
.message-section .message-section-inner {
  padding: 20px;
  border: 3px solid #8d5715;
  border-right: none;
  border-bottom: none;
}
/* line 234, ../sass/engineering.scss */
.message-section .message-section-inner h3 {
  font-family: "source_sans_probold";
  color: #8d5715;
  padding: 0 0 30px 0;
}
/* line 239, ../sass/engineering.scss */
.message-section .message-section-inner p {
  font-size: 1.063rem;
  color: #000000;
}
/* line 243, ../sass/engineering.scss */
.message-section .message-section-inner button {
  width: 100%;
  font-size: 1.188rem;
  background: #f8f8f8;
  font-family: "open_sanssemibold";
  border: 1px solid #dfdfdf;
  padding: 15px;
  color: #656565;
}

/* middle body css start  */
/* line 258, ../sass/engineering.scss */
.middle-body {
  background: #8d5715;
  padding: 0 0 30px 0;
  margin-top: 20px;
}
/* line 262, ../sass/engineering.scss */
.middle-body img {
  width: 100%;
}
/* line 265, ../sass/engineering.scss */
.middle-body p {
  color: #ffffff;
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
}
/* line 271, ../sass/engineering.scss */
.middle-body .f-details {
  position: relative;
}
@media screen and (max-width: 992px) {
  /* line 271, ../sass/engineering.scss */
  .middle-body .f-details {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 480px) {
  /* line 271, ../sass/engineering.scss */
  .middle-body .f-details {
    width: 100%;
  }
}
/* line 279, ../sass/engineering.scss */
.middle-body .f-details .name {
  position: absolute;
  width: 100%;
  top: -54px;
  left: 0;
  padding: 0 15px;
  font-family: "open_sanslight";
  font-size: 1.188rem;
}
@media screen and (max-width: 992px) {
  /* line 279, ../sass/engineering.scss */
  .middle-body .f-details .name {
    top: -55px;
  }
}
@media screen and (max-width: 767px) {
  /* line 279, ../sass/engineering.scss */
  .middle-body .f-details .name {
    top: -51px;
  }
}
/* line 293, ../sass/engineering.scss */
.middle-body .f-details .name div {
  background: #747474;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.2);
}

/* lower body start  */
/* line 307, ../sass/engineering.scss */
.lower-body {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
/* line 311, ../sass/engineering.scss */
.lower-body .events {
  background: #f8f8f8;
  padding: 30px 15px;
  display: table;
  padding-right: 0;
  border-right: 15px solid #ffffff;
}
@media screen and (max-width: 767px) {
  /* line 311, ../sass/engineering.scss */
  .lower-body .events {
    margin-bottom: 30px;
    border-right: none;
  }
}
@media screen and (max-width: 635px) {
  /* line 311, ../sass/engineering.scss */
  .lower-body .events {
    width: 100%;
  }
}
/* line 324, ../sass/engineering.scss */
.lower-body .events .event-big-img {
  padding-left: 0;
}
/* line 326, ../sass/engineering.scss */
.lower-body .events .event-big-img img {
  width: 100%;
  margin-bottom: 15px;
}
/* line 330, ../sass/engineering.scss */
.lower-body .events .event-big-img p {
  font-size: 0.875rem;
}
/* line 334, ../sass/engineering.scss */
.lower-body .events .event-content {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 15px;
}
@media screen and (min-width: 767px) {
  /* line 334, ../sass/engineering.scss */
  .lower-body .events .event-content {
    font-size: 0.75rem;
  }
}
/* line 341, ../sass/engineering.scss */
.lower-body .events .event-content h5 {
  font-family: "open_sanssemibold";
  color: #8d5715;
  margin: 0;
  font-size: 1.125rem;
}
/* line 348, ../sass/engineering.scss */
.lower-body .events .read-more {
  background: #8d5715;
  border: none;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 20px;
  width: 250px;
  font-family: "open_sansregular";
}
/* line 352, ../sass/engineering.scss */
.lower-body .events .event-big-img {
  padding-left: 0;
}
/* line 354, ../sass/engineering.scss */
.lower-body .events .event-big-img img {
  width: 100%;
  margin-bottom: 15px;
}
/* line 358, ../sass/engineering.scss */
.lower-body .events .event-big-img p {
  font-size: 1.063rem;
}
@media screen and (min-width: 767px) {
  /* line 358, ../sass/engineering.scss */
  .lower-body .events .event-big-img p {
    font-size: 0.875rem;
  }
}
/* line 365, ../sass/engineering.scss */
.lower-body .events .event-content {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 369, ../sass/engineering.scss */
.lower-body .events .event-content h5 {
  font-family: "open_sanssemibold";
  color: #8d5715;
  margin: 0;
  font-size: 1.125rem;
}
/* line 376, ../sass/engineering.scss */
.lower-body .events .read-more {
  background: #8d5715;
  border: none;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 20px;
  width: 250px;
}
/* line 385, ../sass/engineering.scss */
.lower-body .gray-bg {
  background: #f8f8f8;
  position: absolute;
  width: 374px;
  top: 0;
  left: -374px;
  height: 100%;
  display: table-cell;
}
@media screen and (max-width: 635px) {
  /* line 385, ../sass/engineering.scss */
  .lower-body .gray-bg {
    width: 100%;
  }
}
@media screen and (max-width: 635px) {
  /* line 397, ../sass/engineering.scss */
  .lower-body .lower-body-right {
    width: 100%;
  }
  /* line 400, ../sass/engineering.scss */
  .lower-body .lower-body-right img {
    width: 100%;
  }
}

/*# sourceMappingURL=engineering.css.map */
