@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/*Left Menu bottom*/
/* undergraduate body button */
@media screen and (max-width: 768px) {
  /* line 3, ../sass/_common.scss */
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  /* line 3, ../sass/_common.scss */
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  /* line 3, ../sass/_common.scss */
  html {
    font-size: 16px;
  }
}

/* line 15, ../sass/_common.scss */
body {
  font-size: 0.875rem;
  color: #000000;
  background: #ffffff;
  font-family: "open_sansregular";
  overflow-x: hidden;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  /* line 15, ../sass/_common.scss */
  body {
    font-size: 1.063rem;
  }
}

/* line 27, ../sass/_common.scss */
a {
  color: #20456c;
}
/* line 29, ../sass/_common.scss */
a:hover {
  text-decoration: none;
}

/* line 34, ../sass/_common.scss */
h1 {
  font-size: 2rem;
  line-height: 32px;
  color: #8d5715;
  font-family: "crimson_textroman";
  font-weight: normal;
  padding: 30px 0;
  margin: 0;
}

/* line 44, ../sass/_common.scss */
h2 {
  font-size: 1.625rem;
  color: #8d5715;
  font-family: "gotham_boldregular";
  font-weight: normal;
  margin: 0 0 30px 0;
  line-height: 32px;
}

/* line 53, ../sass/_common.scss */
h3 {
  font-size: 1.5rem;
  line-height: 32px;
  color: #8d5715;
  font-family: "crimson_textroman";
  font-weight: normal;
  padding: 50px 0 25px;
  margin: 0;
}

/* line 63, ../sass/_common.scss */
h4 {
  font-family: "gotham_mediumregular";
  font-size: 1.375rem;
}

/* line 68, ../sass/_common.scss */
h5 {
  font-family: "source_sans_probold";
  font-size: 1.25rem;
  color: #3A3A3A;
}

/* line 74, ../sass/_common.scss */
h6 {
  font-family: "gotham_mediumregular";
  font-size: 1.063rem;
  color: #000000;
  margin: 0;
}

/*   top header css  */
/* line 84, ../sass/_common.scss */
.fixed-header {
  position: fixed;
  width: 100%;
}

/* line 89, ../sass/_common.scss */
.main-header {
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

/* line 98, ../sass/_common.scss */
.top_menu {
  background: #8d5715;
}
/* line 100, ../sass/_common.scss */
.top_menu .navbar-default {
  background: none;
  border: none;
  margin: 0;
  min-height: auto;
  position: inherit;
}
/* line 106, ../sass/_common.scss */
.top_menu .navbar-default .navbar-collapse {
  border: none;
}
/* line 109, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav {
  margin: 0;
}
/* line 112, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li a {
  font-size: 0.875rem;
  color: #ffffff;
  font-family: "open_sansregular";
  padding: 8px 15px 8px 0;
}
@media screen and (max-width: 768px) {
  /* line 112, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-nav li a {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  /* line 112, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-nav li a {
    font-size: 1.188rem;
    padding: 8px 0;
  }
}
/* line 126, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown {
  position: inherit;
}
/* line 128, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu {
  background: #7a490c;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  border-radius: 0;
  border: none;
  padding: 30px 0;
}
/* line 139, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover {
  background: #633b0a;
}
/* line 145, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu div {
  min-height: 200px;
}
@media screen and (max-width: 480px) {
  /* line 145, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu div {
    width: 100%;
    margin-bottom: 30px;
    min-height: auto;
  }
}
/* line 152, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu div:first-child {
  padding-left: 0;
}
/* line 155, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu div h6 {
  font-family: "open_sansbold";
  font-size: 0.75rem;
  color: #b79d7c;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 163, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu ul {
  padding-left: 25px;
}
/* line 165, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu ul li {
  list-style-type: none;
}
/* line 167, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu ul li a {
  color: #b79d7c;
  font-size: 1rem;
  line-height: 30px;
}
/* line 171, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu .top-drop-down-menu ul li a:hover {
  background: none;
  color: #ffffff;
}
/* line 182, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-nav li.open a {
  background: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  /* line 188, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-right {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  /* line 188, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-right {
    width: auto;
  }
}
/* line 196, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-right li a {
  padding: 8px 21px;
  font-size: 0.688rem;
  font-family: "open_sansbold";
}
@media screen and (min-width: 992px) {
  /* line 196, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-right li a {
    padding: 8px 11px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 196, ../sass/_common.scss */
  .top_menu .navbar-default ul.navbar-right li a {
    padding: 8px 15px;
  }
}
/* line 206, ../sass/_common.scss */
.top_menu .navbar-default ul.navbar-right li a:last-child {
  padding-right: 0;
}

/* Slide drop Down  */
/* line 218, ../sass/_common.scss */
.top_menu .dropdown .dropdown-menu {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

/* line 226, ../sass/_common.scss */
.top_menu .dropdown.open .dropdown-menu {
  max-height: 350px;
  opacity: 1;
}
@media screen and (max-width: 992px) {
  /* line 226, ../sass/_common.scss */
  .top_menu .dropdown.open .dropdown-menu {
    overflow-y: scroll;
  }
}

/* logo section  */
/* line 237, ../sass/_common.scss */
.logo {
  width: auto;
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 237, ../sass/_common.scss */
  .logo {
    width: 37%;
    text-align: center;
  }
}
@media screen and (max-width: 635px) {
  /* line 237, ../sass/_common.scss */
  .logo {
    width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 237, ../sass/_common.scss */
  .logo {
    width: 100%;
    text-align: center;
    padding-right: 15px;
  }
}
/* line 253, ../sass/_common.scss */
.logo img {
  width: auto;
  padding: 25px 0;
}
@media screen and (max-width: 1200px) {
  /* line 253, ../sass/_common.scss */
  .logo img {
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  /* line 253, ../sass/_common.scss */
  .logo img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 253, ../sass/_common.scss */
  .logo img {
    width: auto;
    margin: 0 auto;
    padding: 0;
  }
}

/* line 270, ../sass/_common.scss */
.dept-name {
  font-family: "open_sanssemibold";
  color: #8d5715;
  font-size: 1.5rem;
  padding: 20px;
  margin: 25px 0;
  border-left: 1px solid #000000;
}
/* line 277, ../sass/_common.scss */
.dept-name span {
  color: #000000;
  font-family: "open_sanslight";
}
/* line 280, ../sass/_common.scss */
.dept-name span:nth-child(2) {
  font-family: "crimson_textitalic";
}
@media screen and (max-width: 635px) {
  /* line 270, ../sass/_common.scss */
  .dept-name {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  /* line 270, ../sass/_common.scss */
  .dept-name {
    width: 100%;
    padding: 0 15px 20px 15px;
    margin: 0;
    text-align: center;
  }
}

/* line 295, ../sass/_common.scss */
.search {
  padding: 25px 15px;
  float: right;
}
@media screen and (max-width: 635px) {
  /* line 295, ../sass/_common.scss */
  .search {
    width: 100%;
    padding: 0;
  }
}
/* line 303, ../sass/_common.scss */
.search ul li {
  line-height: 78px;
  display: inline-block;
}
@media screen and (max-width: 635px) {
  /* line 303, ../sass/_common.scss */
  .search ul li {
    line-height: 18px;
  }
}
/* line 309, ../sass/_common.scss */
.search ul li:last-child {
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  /* line 309, ../sass/_common.scss */
  .search ul li:last-child {
    margin-left: 25px;
  }
}
/* line 314, ../sass/_common.scss */
.search ul li:last-child a {
  border-left: 2px solid #c3c3c3;
}
/* line 318, ../sass/_common.scss */
.search ul li a {
  font-family: "gotham_mediumregular";
  color: #c3c3c3;
  padding: 0 5px;
  font-size: 0.875rem;
}

/* line 328, ../sass/_common.scss */
.search-area {
  background: #7a490c;
  padding: 40px 0;
  position: absolute;
  width: 100%;
  top: 36px;
  left: 0;
  display: none;
}
/* line 336, ../sass/_common.scss */
.search-area input {
  width: 100%;
  background: none;
  border: none;
  border-left: 1px solid #d4cccc;
  padding: 5px 10px;
  color: #ffffff;
  margin-bottom: 15px;
}
@media screen and (min-width: 635px) {
  /* line 336, ../sass/_common.scss */
  .search-area input {
    width: 44%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 336, ../sass/_common.scss */
  .search-area input {
    width: 49%;
  }
}
@media screen and (min-width: 992px) {
  /* line 336, ../sass/_common.scss */
  .search-area input {
    width: 58%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 336, ../sass/_common.scss */
  .search-area input {
    width: 65%;
  }
}
/* line 357, ../sass/_common.scss */
.search-area input:focus {
  outline: inherit;
}
/* line 360, ../sass/_common.scss */
.search-area input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "source_sans_prolight";
  font-size: 2rem;
  color: #d4cccc;
}
/* line 366, ../sass/_common.scss */
.search-area input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "source_sans_prolight";
  font-size: 2rem;
  color: #d4cccc;
}
/* line 372, ../sass/_common.scss */
.search-area input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "source_sans_prolight";
  font-size: 2rem;
  color: #d4cccc;
}
/* line 379, ../sass/_common.scss */
.search-area span {
  font-size: 0.75rem;
  color: #ffffff;
  font-family: "open_sanslight";
}
/* line 384, ../sass/_common.scss */
.search-area button {
  background: #8d5715;
  border: 1px solid #8d5715;
  font-size: 1rem;
  color: #ffffff;
  padding: 5px 35px;
  margin-left: 15px;
}
/* line 391, ../sass/_common.scss */
.search-area button:last-child {
  background: none;
  margin-left: 5px;
}
/* line 395, ../sass/_common.scss */
.search-area button:focus {
  outline: inherit;
}

/* department main menu  */
/* line 404, ../sass/_common.scss */
.department-main-menu {
  border: 1px solid #e7e7e7;
  border-right: none;
  border-left: none;
}
/* line 408, ../sass/_common.scss */
.department-main-menu .navbar-default {
  background: none;
  border: none;
  margin: 0;
}
@media screen and (max-width: 768px) {
  /* line 412, ../sass/_common.scss */
  .department-main-menu .navbar-default .navbar-collapse {
    height: 300px;
    overflow-y: scroll;
  }
}
/* line 418, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav {
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 418, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav {
    text-align: left;
  }
}
/* line 424, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li {
  display: inline-block;
  float: unset;
  padding: 0 31px;
}
@media screen and (max-width: 1200px) {
  /* line 424, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li {
    padding: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  /* line 424, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 424, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li {
    float: left;
    width: 100%;
    padding: 0;
  }
}
/* line 439, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li a {
  font-size: 1rem;
  color: #000000;
  line-height: 45px;
  padding: 10px 25px;
}
@media screen and (max-width: 768px) {
  /* line 439, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li a {
    padding: 10px 20px;
    line-height: 20px;
    border-bottom: #e7e7e7 1px solid;
  }
}
/* line 450, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li .dropdown-menu {
  left: 31px;
}
@media screen and (max-width: 1200px) {
  /* line 450, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li .dropdown-menu {
    left: 15px;
  }
}
@media screen and (max-width: 992px) {
  /* line 450, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li .dropdown-menu {
    left: 0;
  }
}
/* line 460, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li:last-child .dropdown-menu {
  right: 31px;
  left: inherit;
}
@media screen and (max-width: 1200px) {
  /* line 460, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li:last-child .dropdown-menu {
    right: 15px;
  }
}
@media screen and (max-width: 992px) {
  /* line 460, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li:last-child .dropdown-menu {
    right: 0;
  }
}
/* line 473, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li.open a {
  color: #8d5715;
  font-family: "open_sansbold";
  background: none;
  padding: 9px 21px;
  border: 1px solid #8d5715;
  border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 768px) {
  /* line 473, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li.open a {
    border: none;
  }
}
/* line 484, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li.open .dropdown-menu {
  border: 1px solid #8d5715;
}
@media screen and (max-width: 768px) {
  /* line 484, ../sass/_common.scss */
  .department-main-menu .navbar-default ul.navbar-nav li.open .dropdown-menu {
    padding-left: 20px;
    border: none;
  }
}
/* line 490, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li.open .dropdown-menu li {
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding: 0 50px 0 20px;
}
/* line 494, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li.open .dropdown-menu li:first-child {
  border-top: none;
}
/* line 497, ../sass/_common.scss */
.department-main-menu .navbar-default ul.navbar-nav li.open .dropdown-menu li a {
  color: #000000;
  font-family: "source_sans_proregular";
  border: none;
  padding: 10px 0;
}

/* inner body bottom padding */
@media screen and (min-width: 768px) {
  /* line 513, ../sass/_common.scss */
  .middle-content {
    padding-bottom: 50px;
  }
}
/* Undergraduate body button */
/* line 520, ../sass/_common.scss */
.undergraduate-brown-button {
  background: #8d5715;
  border: none;
  font-size: 1.25rem;
  color: #c3c3c3;
  padding: 15px 10px;
  width: 100%;
  margin-top: 20px;
  min-height: 78px;
  font-family: "open_sanslight";
}
@media screen and (min-width: 635px) {
  /* line 520, ../sass/_common.scss */
  .undergraduate-brown-button {
    width: 47%;
    font-size: 1.188rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 520, ../sass/_common.scss */
  .undergraduate-brown-button {
    width: 100%;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 520, ../sass/_common.scss */
  .undergraduate-brown-button {
    width: 47%;
    font-size: 1rem;
  }
}
/* line 181, ../sass/_mixins.scss */
.undergraduate-brown-button span {
  color: #ffffff;
  font-family: "open_sansbold";
}

/* line 524, ../sass/_common.scss */
.undergraduate-gray-button {
  background: #f0f0f0;
  border: none;
  font-size: 1.25rem;
  color: #d58320;
  padding: 15px 10px;
  width: 100%;
  font-family: "open_sanslight";
  margin-top: 20px;
  min-height: 78px;
}
@media screen and (min-width: 635px) {
  /* line 524, ../sass/_common.scss */
  .undergraduate-gray-button {
    width: 47%;
    font-size: 1.188rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 524, ../sass/_common.scss */
  .undergraduate-gray-button {
    width: 100%;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 524, ../sass/_common.scss */
  .undergraduate-gray-button {
    width: 47%;
    font-size: 1rem;
  }
}
/* line 209, ../sass/_mixins.scss */
.undergraduate-gray-button span {
  color: #8d5715;
  font-family: "open_sansbold";
}
@media screen and (max-width: 635px) {
  /* line 524, ../sass/_common.scss */
  .undergraduate-gray-button {
    margin-bottom: 30px;
  }
}

/* Right Side Academic calender section */
/* line 531, ../sass/_common.scss */
.academic-calender {
  /* calender slider css end */
}
/* line 532, ../sass/_common.scss */
.academic-calender h5 {
  font-family: "open_sansregular";
  padding: 0 0 10px 0;
  margin: 0;
  color: #8d5715;
}
/* line 538, ../sass/_common.scss */
.academic-calender .calender-slider {
  border: 2px solid #8d5715;
  padding: 10px 0;
  position: relative;
}
/* line 542, ../sass/_common.scss */
.academic-calender .calender-slider .carousel {
  position: inherit;
  border-bottom: 2px solid #8d5715;
  padding: 0 10px;
}
/* line 546, ../sass/_common.scss */
.academic-calender .calender-slider .carousel .carousel-indicators {
  top: -23px;
  left: 0;
  bottom: inherit;
  width: 100%;
  margin: 0;
}
/* line 552, ../sass/_common.scss */
.academic-calender .calender-slider .carousel .carousel-indicators li {
  border: 2px solid #8d5715;
  margin: 0;
  background: #ffffff;
}
/* line 557, ../sass/_common.scss */
.academic-calender .calender-slider .carousel .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  background: #8d5715;
}
/* line 564, ../sass/_common.scss */
.academic-calender .calender-slider .carousel .carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  text-shadow: none;
  color: #000000;
  font-size: 0.75rem;
  line-height: 18px;
}
@media screen and (max-width: 768px) {
  /* line 564, ../sass/_common.scss */
  .academic-calender .calender-slider .carousel .carousel-caption {
    font-size: 1.063rem;
  }
}
/* line 581, ../sass/_common.scss */
.academic-calender .calender-slider .carousel .carousel-caption span {
  width: 100%;
  float: left;
  color: #8d5715;
  font-family: "open_sansbold";
  font-size: 0.75rem;
  margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
  /* line 581, ../sass/_common.scss */
  .academic-calender .calender-slider .carousel .carousel-caption span {
    font-size: 1.063rem;
  }
}
/* line 595, ../sass/_common.scss */
.academic-calender .calender-slider:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #8d5715;
  position: absolute;
  bottom: 4px;
}
/* line 607, ../sass/_common.scss */
.academic-calender .button-1 {
  background: none;
  border: 2px solid #8d5715;
  width: 100%;
  padding: 20px 10px;
  font-family: "open_sansregular";
  font-size: 1.375em;
  color: #8d5715;
  margin: 20px 0;
}
@media screen and (min-width: 635px) {
  /* line 607, ../sass/_common.scss */
  .academic-calender .button-1 {
    font-size: 1.375em;
    font-family: "open_sansbold";
  }
}
@media screen and (min-width: 768px) {
  /* line 607, ../sass/_common.scss */
  .academic-calender .button-1 {
    font-size: 1.125rem;
    font-family: "open_sansbold";
  }
}
@media screen and (min-width: 992px) {
  /* line 607, ../sass/_common.scss */
  .academic-calender .button-1 {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 607, ../sass/_common.scss */
  .academic-calender .button-1 {
    font-size: 1rem;
  }
}
/* line 631, ../sass/_common.scss */
.academic-calender .button-2 {
  background: url(../images/button-bg.jpg) no-repeat 0 -1px #8d5715;
  border: none;
  width: 100%;
  padding: 20px 10px;
  font-family: "open_sansregular";
  font-size: 1.375em;
  color: #ffffff;
}
@media screen and (min-width: 635px) {
  /* line 631, ../sass/_common.scss */
  .academic-calender .button-2 {
    font-size: 1.375em;
    font-family: "open_sansbold";
  }
}
@media screen and (min-width: 768px) {
  /* line 631, ../sass/_common.scss */
  .academic-calender .button-2 {
    font-size: 1.125rem;
    font-family: "open_sansbold";
  }
}
@media screen and (min-width: 992px) {
  /* line 631, ../sass/_common.scss */
  .academic-calender .button-2 {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 631, ../sass/_common.scss */
  .academic-calender .button-2 {
    font-size: 1rem;
  }
}

/*Top Margin for Fixed-header*/
/* line 658, ../sass/_common.scss */
.margin-top {
  margin-top: 250px;
}

/*First Paragraph of Content*/
/* line 665, ../sass/_common.scss */
.crimsone-text {
  font-family: "crimson_textroman";
  font-size: 1rem;
  margin-bottom: 25px;
}

/* line 671, ../sass/_common.scss */
.top-fix-color-bg-wrapper {
  position: relative;
}
/* line 673, ../sass/_common.scss */
.top-fix-color-bg-wrapper .top-fix-color-bg {
  background: #eee5dc;
  width: 350px;
  position: absolute;
  left: -310px;
  top: -7px;
  height: 300px;
}

/* line 3, ../sass/facilities.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/facilities.scss */
.facilities {
  margin-top: 30px;
}
/* line 12, ../sass/facilities.scss */
.facilities .text-block {
  background: #ffffff;
  margin: 0 auto;
  border: #f4f4f4 1px solid;
  -webkit-box-shadow: 5px 5px 10px 0px #f4f4f4;
  -moz-box-shadow: 5px 5px 10px 0px #f4f4f4;
  box-shadow: 5px 5px 10px 0px #f4f4f4;
  text-align: center;
  padding: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
}

/*# sourceMappingURL=facilities.css.map */
