@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/*Left Menu bottom*/
/* undergraduate body button */
/*Team Structure*/
/*  gray-widgets*/
/* line 3, ../sass/modular-composite-coating.scss */
.faculty-list h2 {
  font-size: 1.375rem;
  font-weight: 300;
  margin-top: 28px;
  font-family: "crimson_textroman";
}
/* line 9, ../sass/modular-composite-coating.scss */
.faculty-list li {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 16px;
}
@media screen and (min-width: 767px) {
  /* line 9, ../sass/modular-composite-coating.scss */
  .faculty-list li {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  /* line 9, ../sass/modular-composite-coating.scss */
  .faculty-list li {
    font-size: 0.75rem;
  }
}
/* line 19, ../sass/modular-composite-coating.scss */
.faculty-list li span {
  font-weight: 600;
}

/* line 26, ../sass/modular-composite-coating.scss */
.nav-tabs a {
  text-decoration: none;
}

/* line 32, ../sass/modular-composite-coating.scss */
.undergraduate-inner-page-tab .undergraduate-inner-page-accordion {
  padding-top: 20px;
}

/* line 38, ../sass/modular-composite-coating.scss */
.tabdata .breadcrumb {
  margin-bottom: 0;
  margin-top: 0;
  color: #e7e7e7;
  font-size: 0.875rem;
}
/* line 44, ../sass/modular-composite-coating.scss */
.tabdata .filter {
  margin: 20px 0;
}

/* line 50, ../sass/modular-composite-coating.scss */
.pagination ul {
  float: left;
}
/* line 52, ../sass/modular-composite-coating.scss */
.pagination ul li {
  float: left;
  margin-right: 16px;
  width: 24px;
}
/* line 56, ../sass/modular-composite-coating.scss */
.pagination ul li a {
  background: #f8f8f8;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
}
/* line 67, ../sass/modular-composite-coating.scss */
.pagination ul li a:hover {
  background: #8d5715;
  color: #ffffff;
}

/*# sourceMappingURL=modular-composite-coating.css.map */
