@import 'variables';
@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
}

@mixin read-more-button {
    background: $department-base-color;
    border: none;
    font-size: $font-size-l;
    color: $white-color;
    padding: 20px;
    width: 250px;
    font-family: $font-family-open-sans;
}

@mixin small-heading {
    font-family: $font-family-open-sans-bold;
    color: $department-light-gray;
    font-size: $font-size-l;
    text-transform: uppercase;
    padding: 0 15px 10px;
    @media screen and (min-width: $sm) {
        font-size: $font-size;
    }
    @media screen and (min-width: $md) {
        font-size: $font-size-m;
    }
}

@mixin humanities-gray-button {
    background: $department-text-gray;
    border: none;
    font-size: $font-size-l;
    color: $white-color;
    padding: 20px;
    width: 100%;
    font-family: $font-family-open-sans;
}

@mixin banner-max-width {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    height: 720px;
    @media screen and (max-width: $md) {
        height: auto;
    }
}

@mixin left-menu-structure {
    background: $white-color;
    box-shadow: 12px 1px 50px 8px rgba(0, 0, 0, 0.05);
    ul {
        list-style: none;
        li {
            list-style: none;
            &:last-child {
                border: none;
            }
            a {
                color: $black-color;
                padding: 20px 0;
                display: block;
                border-bottom: $widgets-background 1px solid;
                font-family: $font-family-crimson-roman;
                font-size: $font-size;
                margin-left: 20px;
                @media screen and (max-width: $sm) {
                    font-size: $font-size-l;
                }
                &:hover {
                    color: $department-base-color;
                    cursor: pointer;
                    font-family: $font-family-crimson-bold;
                    &:after {
                        font-family: FontAwesome;
                        content: "\f105";
                        display: inline-block;
                        padding-left: 20px;
                        line-height: 12px;
                    }
                }
            }
            .active {
                color: $department-base-color;
                cursor: pointer;
                font-family: $font-family-crimson-bold;
                &:after {
                    font-family: FontAwesome;
                    content: "\f105";
                    display: inline-block;
                    padding-left: 20px;
                    line-height: 12px;
                }
            }
            ul {
                width: 100%;
                padding-left: 20px;
                background: $light-gray-button-color;
                li {
                    a {
                        border-bottom: $white-color 2px solid;
                    }
                    
                    &:last-child{
                       a {
                        border-bottom: none;
                    } 
                    }
                }
            }
        }
    }
}


@mixin breadcrumb {
    background: none;
    margin-top: 10px;
    font-size: $font-size-s;
    span {
        color: $department-base-color;
    }
    @media screen and (max-width:$md) {
        font-size: $font-size-m;
    }
    @media screen and (max-width:$sm) {
        font-size: $font-size-sm;
    }
}


/*Left Menu bottom*/

@mixin leftmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 0;
        margin-top: 15px;
        a {
            display: block;
            padding: 20px;
            text-align: center;
            border: $department-base-color 2px solid;
            color: $department-base-color;
            text-decoration: none;
            font-size: $font-size;
            font-weight: bold;
            &:hover {
                background: $department-base-color;
                color: $white-color;
            }
        }
    }
}


/* undergraduate body button */

@mixin undergraduate-brown-button {
    background: $department-base-color;
    border: none;
    font-size: $font-size-xl;
    color: $department-light-gray;
    padding: 15px 10px;
    width: 100%;
    margin-top: 20px;
    min-height: 78px;
    font-family: $font-family-open-sans-light;
    @media screen and (min-width: $axs) {
        width: 47%;
        font-size: $font-size-ll;
    }
    @media screen and (min-width:$sm) {
        width: 100%;
        font-size: $font-size-l;
    }
    @media screen and (min-width:$md) {
        width: 47%;
        font-size: $font-size;
    }
    span {
        color: $white-color;
        font-family: $font-family-open-sans-bold;
    }
}

@mixin undergraduate-gray-button {
    background: $widgets-background;
    border: none;
    font-size: $font-size-xl;
    color: $department-highlight-color;
    padding: 15px 10px;
    width: 100%;
    font-family: $font-family-open-sans-light;
    margin-top: 20px;
    min-height: 78px;
    @media screen and (min-width: $axs) {
        width: 47%;
        font-size: $font-size-ll;
    }
    @media screen and (min-width:$sm) {
        width: 100%;
        font-size: $font-size-l;
    }
    @media screen and (min-width:$md) {
        width: 47%;
        font-size: $font-size;
    }
    span {
        color: $department-base-color;
        font-family: $font-family-open-sans-bold;
    }
    @media screen and (max-width:$axs) {
        margin-bottom: 30px;
    }
}