@import 'main_import';

img {
    max-width: 100%;
}


/*Banner*/

.slider {
    margin-top: 40px;
    img {
        max-width: 100%;
    }
}

/*Left Panel*/

.left-menu {
    @include left-menu-structure;
}

ul.leftmenu-bottom {
    @include leftmenu;
}

.breadcrumb {
    @include breadcrumb;
}

/*Right Panel*/

.right-panel {
    padding-top: 93px;
    @media screen and (max-width: $sm) {
        padding-top: 20px;
    }
    
    .events {
        background: $widgets-background;
        padding: 12px;
        margin-bottom: 50px;
        font-size: $font-size-s;
        line-height: 18px;
        @media screen and (max-width: $sm) {
            font-size: $font-size-sm;
        }
        
        
        .date {
            color: $department-base-color;
            font-weight: bold;
            padding-bottom: 5px;
        }
    }
    
    .last-event-block{
        font-size: $font-size-s;
        position: relative;
        color: $white-color;
        line-height: 18px;
       
        @media screen and (max-width: $sm) {
            font-size: $font-size-sm;
        }
        .overlay{
             padding: 12px;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            height: 100%;
            vertical-align: bottom;
            align-items: flex-end;
                  .date {
                        color:  $white-color;
                        font-weight: bold;
                        padding-bottom: 5px;
                    } 
                    p{
                        margin: 0;
                    }
               
            }
        
        .title{
            position: absolute;
            top: 12px;
            left: 12px;
            background: rgba(255, 255, 255, 0.5);
            padding: 2px 3px;
        }
        }
    .upcoming {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 65%;
            border-top: $department-base-color 4px solid;
        }
        h4 {
            font-size: $font-size-xl;
            color: $department-base-color;
            font-weight: normal;
        }
    }
}

.responsive-video{
    iframe{
        width: 100% !important;
        
    }
}

/*Midle Content*/

.team-block {
  @include team-structure;
}

