@import 'main_import';

/*Banner*/

.banner {
    @include banner-max-width;
    margin-top: 250px;
    padding-top: 30px;
    
    .top-fix-color-bg{
        height: 867px;
        left: -157px;
        @media screen and (max-width:$md){
               left: -260px;
           }
    }
}

/*Left Panel*/

.left-menu {
    @include left-menu-structure;
}

.breadcrumb {
    @include breadcrumb;
}
/*Middle Content Panel*/

.middle-content {
    a {
        color: $department-base-color;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

/*Right Panel*/

.department-right-section {
    padding-top: 93px;
    
    @media screen and (max-width: $sm) {
        padding-top: 20px;
    }
    h4 {
        font-size: $font-size-m;
        padding-top: 6px;
        span {
            font-size: $font-size-s;
        }
    }
    .testimonial {
        color: $department-highlight-color;
        font-style: italic;
        font-size: $font-size-s;
    }
    
     .faculty-right-gray-bg{
        background: $widgets-background;
        width: 2000px;
        height: 450px;
        position: absolute;
        left: 190px;
        top: 70px;
        z-index: -1;
         
          @media screen and (max-width:$lg){
               left: 140px;
           }
           
           @media screen and (max-width:$md){
               left: 120px;
           }
        }
    .faculty-left-gray-bg{
        @extend .faculty-right-gray-bg;
        left: inherit;
        right: 1448px;
    }
}