@import 'main_import';

/*Banner*/

.banner {
    @include banner-max-width;
    margin-top: 243px;
    padding-top: 30px;
    
    .top-fix-color-bg{
        height: 800px;
        left: -157px;
        @media screen and (max-width:$md){
               left: -260px;
           }
    }
}

/*Left Panel*/

.left-menu {
    @include left-menu-structure;
}

.breadcrumb {
    @include breadcrumb;
}
/*Middle Content Panel*/

.middle-content {
    a {
        color: $department-base-color;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

/*Right Panel*/

.department-right-section {
    padding-top: 93px;
    
    @media screen and (max-width: $sm) {
        padding-top: 20px;
    }
    h4 {
        font-size: $font-size-m;
        padding-top: 6px;
        span {
            font-size: $font-size-s;
        }
    }
    .testimonial {
        color: $department-highlight-color;
        font-style: italic;
        font-size: $font-size-s;
    }
    
  
}


 .department.work-with-gray-bg{
    position: relative;
       .faculty-right-gray-bg{
        background: $widgets-background;
        width: 253px;
        height: 450px;
        position: absolute;
        left: 1096px;
        top: 175px;
        z-index: -3;
        
           @media screen and (max-width:$lg){
               left: inherit;
               width: 300px;
               right: 0;
           }
           
           @media screen and (max-width:$md){
               width: 300px;
               right: 0;
           }
           
            @media screen and (max-width:$sm){
               display: none;
           }
           
           .work-with-us-bg-text{
               font-size: 75px;
               font-family: $font-family-open-sans-light;
               color: $light-gray-button-color;
                line-height: 108px;
                position: absolute;
                left: -230px;
               
               @media screen and (min-width:$sm){
                      top: 142px;
                   }
               @media screen and (min-width:$lg){
                       top: 118px;
                   }
               span{
                   margin-left: 155px;
               }
           }
        }
    .faculty-left-gray-bg{
        @extend .faculty-right-gray-bg;
        left: inherit;
        right: 1448px;
    }
}