@import 'main_import';
.semester-table {
    padding-top: 30px;
    @media screen and (max-width: $xs) {
        overflow-x: scroll;
    }
    table {
        width: 100%;
        margin-top: 10px;
        @media screen and (max-width: $xs) {
            width: 200px;
        }
        tr {
            &:last-child {
                font-family: $font-family-open-sans-bold;
                @media screen and (max-width: $md) {
                    font-size: $font-size;
                }
                @media screen and (max-width:$sm) {
                    font-size: $font-size-ll;
                }
                td {
                    padding-top: 20px;
                }
            }
            td {
                &:first-child {
                    width: 85%;
                }
            }
        }
    }
    .semester-table-title {
        font-family: $font-family-open-sans-semibold;
        color: $department-base-color;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 2px solid $department-light-gray;
    }
}

.specialisation-table-title {
    font-family: $font-family-open-sans-semibold;
    color: $department-base-color;
    text-transform: normal;
    padding-bottom: 10px;
    border-bottom: 2px solid $department-light-gray;
    margin-bottom: 10px;
}




/* below tab and accordion section  */

.undergraduate-inner-page-tab {
    @media screen and (max-width: $axs) {
        overflow-x: scroll;
    }
    .nav-tabs {
        li {
            a {
                font-family: $font-family-open-sans-semibold;
                color: $department-light-gray;
            }
        }
        li.active {
            a {
                font-family: $font-family-open-sans-semibold;
                color: $department-base-color;
                border: none;
                border-bottom: 2px solid $department-base-color;
                padding: 10px 30px;
            }
        }
    }
    .undergraduate-inner-page-accordion {
        padding-top: 50px;
        @media screen and (max-width: $xs) {
            width: 480px;
        }
        .panel-default {
            border: none;
            box-shadow: none;
            .panel-heading {
                padding: 0;
                background: $light-gray-button-color;
                .panel-title {
                    a {
                        display: block;
                        padding: 10px 20px;
                        ;
                        font-family: $font-family-open-sans-semibold;
                        font-size: $font-size-s;
                        color: $department-text-gray;
                        @media screen and (max-width: $sm) {
                            font-size: $font-size-sm;
                        }
                        span {
                            color: $black-color;
                            font-family: $font-family-open-sans;
                            padding-left: 50px;
                            font-size: $font-size-m;
                            @media screen and (max-width: $sm) {
                                font-size: $font-size-sm;
                                padding-left: 20px;
                            }
                            &:nth-child(3) {
                                font-family: $font-family-open-sans-semibold;
                                float: right;
                                color: $department-text-gray;
                                margin-right: 100px;
                                text-transform: uppercase;
                                font-size: $font-size-s;
                                @media screen and (max-width: $sm) {
                                    font-size: $font-size-sm;
                                    margin-right: 30px;
                                }
                            }
                        }
                        i {
                            float: right;
                            font-size: $font-size-xxl;
                            @media screen and (max-width: $sm) {
                                font-size: $font-size-xxl;
                            }
                        }
                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .panel-body {
            .details {
                padding-bottom: 20px;
                a {
                    color: $department-base-color;
                    text-decoration: underline;
                }
            }
            p {
                a {
                    color: $department-base-color;
                    text-decoration: underline;
                    font-family: $font-family-open-sans-semibold;
                }
            }
        }
    }
}


/*  major-page-right-section*/

.major-page-right-section {
    .gray-widgets {
        @include gray-widgets;
    }
    p {
        font-size: $font-size-s;
        color: $department-light-gray;
        @media screen and (max-width: $sm) {
            font-size: $font-size-l;
        }
    }
    
    .left-gray-widgets{
        @extend .gray-widgets;
        font-family: $font-family-open-sans;
    }
}