@import 'variables';
@import 'mixins';
html {
    @media screen and (max-width: $sm) {
        font-size: 12px;
    }
    @media screen and (min-width:$sm) {
        font-size: 14px;
    }
    @media screen and (min-width:$md) {
        font-size: 16px;
    }
}

body {
    font-size: $font-size-m;
    color: $black-color;
    background: $white-color;
    font-family: $font-family-open-sans;
    overflow-x: hidden;
    line-height: 24px;
    @media screen and (max-width: $sm) {
        font-size: $font-size-sm;
    }
}

footer{
    padding-top: 50px;
}
a {
    color: $base-blue-color;
    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: $font-h1;
    line-height: 32px;
    color: $department-base-color;
    font-family: $font-family-crimson-roman;
    font-weight: normal;
    padding: 30px 0;
    margin: 0;
}

h2 {
    font-size: $font-h2;
    color: $department-base-color;
    font-family: $font-family-bold;
    font-weight: normal;
    margin: 0 0 30px 0;
    line-height: 32px;
}

h3 {
    font-size: $font-h3;
    line-height: 32px;
    color: $department-base-color;
    font-family: $font-family-crimson-roman;
    font-weight: normal;
    padding: 50px 0 25px;
    margin: 0;
}

h4 {
    font-family: $font-family-medium;
    font-size: $font-h4;
}

h5 {
    font-family: $font-family-probold;
    font-size: $font-h5;
    color: $dark-gray;
}

h6 {
    font-family: $font-family-medium;
    font-size: $font-h6;
    color: $black-color;
    margin: 0;
}

@media screen and (max-width:$xs){
    .col-exe-12{
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }
}

.padding-top-20{
    padding-top: 20px;
}
.padding-top-30{
    padding-top: 30px;
}

/*   top header css  */

.fixed-header {
    position: fixed;
    width: 100%;
}

.main-header {
    background: $white-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.top_menu {
    background: $department-base-color;
    .navbar-default {
        background: none;
        border: none;
        margin: 0;
        min-height: auto;
        position: inherit;
        .navbar-collapse {
            border: none;
        }
        ul.navbar-nav {
            margin: 0;
            li {
                a {
                    font-size: $font-size-m;
                    color: $white-color;
                    font-family: $font-family-open-sans;
                    padding: 6px 15px 6px 0;
                    @media screen and (max-width: $sm) {
                        font-size: $font-size-xl;
                    }
                    @media screen and (max-width:$xs) {
                        font-size: $font-size-ll;
                        padding: 8px 0;
                    }
                }
            }
            li.dropdown {
                position: inherit;
                
            }
            li.open {
                a {
                    background: none;
                    color: $white-color;
                }
            }
        }
        ul.navbar-right {
            @media screen and (min-width: $sm) {
                width: auto;
            }
            @media screen and (min-width:$md) {
                width: auto;
            }
            li {
                a {
                    padding: 8px 21px;
                    font-size: $font-size-xs;
                    font-family: $font-family-open-sans-bold;
                    @media screen and (min-width: $md) {
                        padding: 6px 11px;
                    }
                    @media screen and (min-width:$lg) {
                        padding: 6px 15px;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}


/* Slide drop Down  */

.top-slide-menu {
        background: $top-drop-down-menu-bg;
        position: fixed;
        top: 36px;
        left: 0;
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 44px 0;
        z-index: 5;
        overflow: hidden;
        li {
            a {
                &:hover {
                    background: darken($top-drop-down-menu-bg, 5%);
                }
            }
        }
        .top-drop-down-menu {
            
            .active{
                color: $white-color;
                font-family: $font-family-open-sans;
            }
            
            h6.active{
                text-decoration: underline;
            }
            .col-sm-3{
                    @media screen and (max-width: $sm) {
                        position: inherit;
                    }
                }
            div {
                min-height: auto;
                @media screen and (max-width: $sm) {
                    width: 100%;
                    margin-bottom: 30px;
                    min-height: auto;
                }
                

                h6 {
                    font-family: $font-family-open-sans-bold;
                    font-size: $font-size-s;
                    color: $top-drop-down-menu-color;
                    margin-bottom: 15px;
                    text-transform: uppercase;

                    @media screen and (max-width: $sm) {
                        font-size: $font-size-sm;
                        &:after{
                            content: ">";
                            font-size: $font-size-sm;
                            color: $top-drop-down-menu-color;
                            line-height: 18px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            ul {
                padding-left: 25px;
                 @media screen and (max-width: $sm) {
                     display:none;
                }
                li {
                    list-style-type: none;
                    a {
                        color: $top-drop-down-menu-color;
                        font-size: $font-size-m;
                        line-height: 30px;
                        &:hover {
                            background: none;
                            color: $white-color;
                        }

                        @media screen and (max-width:$md){
                            display: block;
                            line-height: 18px;  
                        }

                        @media screen and (max-width: $sm) {
                            font-size: $font-size-xl;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }



@-webkit-keyframes fadeIn { 
    0% { 
        opacity: 0; 
      
    } 
   
    
    100% {
        opacity: 1;
         
    } 
} 

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
        
    } 
       
    100% {
        opacity: 1;
         
    } 
}  
.top-slide-menu .top-drop-down-menu ul.fadeIn { 
     -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
    display: block;
    background: $top-drop-down-menu-bg;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 20px !important;
    margin: 0;
    z-index: 1;
}

@-webkit-keyframes fadeOutDown { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(500px); 
    } 
} 
@keyframes fadeOutDown { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(500px); 
    } 
} 


.top-slide-menu .top-drop-down-menu ul.fadeOut { 
    -webkit-animation-name: fadeOutDown; 
    animation-name: fadeOutDown; 
    display: block;
    background: $top-drop-down-menu-bg;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 20px !important;
    margin: 0;
    z-index: 1;
    -webkit-animation-duration: 4s; 
    animation-duration: 4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

.top_menu .dropdown .dropdown-menu {
    @include transition(0.7s);
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.top_menu .dropdown.open .dropdown-menu {
    max-height: 320px;
    opacity: 1;
    @media screen and (max-width: $md) {
        overflow-y: scroll;
    }
}


/* logo section  */


.logo-section{
    @media screen and (max-width: $axs) {
        margin-bottom: 15px;
    }
}
.logo {
    width: auto;
    padding-right: 0;
    @media screen and (max-width: $sm) {
        width: 37%;
        text-align: center;
    }
    @media screen and (max-width: $axs) {
        width: 50%;
        text-align: center;
    }
    @media screen and (max-width: $xs) {
        width: 100%;
        text-align: center;
        padding-right: 15px;
    }
    img {
        width: auto;
        padding: 25px 0;
        @media screen and (max-width: $lg) {
            width: auto;
        }
        @media screen and (max-width:$md) {
            width: 100%;
        }
        @media screen and (max-width:$xs) {
            width: auto;
            margin: 0 auto;
            padding: 0;
        }
    }
}

.dept-name {
    font-family: $font-family-open-sans-semibold;
    color: $department-base-color;
    font-size: $font-h3;
    padding: 20px;
    margin: 25px 0;
    border-left: 1px solid $black-color;
    span {
        color: $black-color;
        font-family: $font-family-open-sans-light;
        &:nth-child(2) {
            font-family: $font-family-crimson-italic;
        }
    }
    @media screen and (max-width: $axs) {
        width: 200px;
    }
    @media screen and (max-width: $xs) {
        width: 100%;
        padding: 0 15px 20px 15px;
        margin: 0;
        text-align: center;
    }
}

.search {
    padding: 25px 15px;
    float: right;
    @media screen and (max-width: $axs) {
        width: auto;
        padding: 0;
        position: absolute;
        top: 6px;
        right: 15px;
    }
    ul {
        li {
            line-height: 78px;
            display: inline-block;
            @media screen and (max-width: $axs) {
                line-height: 18px;
            }
            
            &:first-child{
               @media screen and (max-width: 1920px) {
                    display: none;
                } 
            }
            &:last-child {
                margin-left: 50px;
                @media screen and (max-width: $sm) {
                    margin-left: 25px;
                }
                a {
                    border-left: 2px solid $department-light-gray;
                }
            }
            a {
                font-family: $font-family-medium;
                color: $department-light-gray;
                padding: 0 5px;
                font-size: $font-size-m;
            }
        }
        
        li.infoshow{
            display: inline-block;
            @media screen and (max-width: $md) {
                display: none;
            }
        }
    }
}

.search-area {
    background: $top-drop-down-menu-bg;
    padding: 40px 0;
    position: absolute;
    width: 100%;
    top: 36px;
    left: 0;
    display: none;
    @media screen and (max-width: $axs) {
      padding: 32px 0;  
    }
    input {
        width: 100%;
        background: none;
        border: none;
        border-left: 1px solid $right-menu-dissable-color;
        padding: 5px 10px;
        color: $white-color;
        margin-bottom: 15px;
        @media screen and (min-width: $axs) {
            width: 44%;
            margin-bottom: 0;
        }
        @media screen and (min-width:$sm) {
            width: 49%;
        }
        @media screen and (min-width:$md) {
            width: 58%;
        }
        @media screen and (min-width:$lg) {
            width: 65%;
        }
        &:focus {
            outline: inherit;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-family: $font-family-prolight;
            font-size: $font-h1;
            color: $right-menu-dissable-color;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-family: $font-family-prolight;
            font-size: $font-h1;
            color: $right-menu-dissable-color;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-family: $font-family-prolight;
            font-size: $font-h1;
            color: $right-menu-dissable-color;
        }
    }
    span {
        font-size: $font-size-s;
        color: $white-color;
        font-family: $font-family-open-sans-light;
    }
    button {
        background: $department-base-color;
        border: 1px solid $department-base-color;
        font-size: $font-size;
        color: $white-color;
        padding: 5px 35px;
        margin-left: 15px;
        @media screen and (max-width: $sm) {
            padding: 5px 15px;
        }
        &:last-child {
            background: none;
            margin-left: 5px;
        }
        &:focus {
            outline: inherit;
        }
    }
}


/* department main menu  */

.department-main-menu {
    border: 1px solid $main-menu-border-color;
    border-right: none;
    border-left: none;
    .navbar-default {
        background: none;
        border: none;
        margin: 0;
        .navbar-collapse {
            @media screen and (max-width: $sm) {
                height: 300px;
                overflow-y: scroll;
            }
        }
        ul.navbar-nav {
            text-align: center;
            width: 100%;
            @media screen and (max-width: $sm) {
                text-align: left;
            }
            li {
                display: inline-block;
                float: unset;
                padding: 0 31px;
                @media screen and (max-width: $lg) {
                    padding: 0 15px;
                }
                @media screen and (max-width: $md) {
                    padding: 0;
                }
                @media screen and (max-width: $sm) {
                    float: left;
                    width: 100%;
                    padding: 0;
                }
                a {
                    font-size: $font-size;
                    color: $black-color;
                    line-height: 45px;
                    padding: 10px 25px;
                    @media screen and (max-width: $sm) {
                        padding: 10px 20px;
                        line-height: 20px;
                        border-bottom: $main-menu-border-color 1px solid;
                        font-size: $font-size-l;
                    }
                }
                .dropdown-menu {
                    left: 31px;
                    @media screen and (max-width: $lg) {
                        left: 15px;
                    }
                    @media screen and (max-width:$md) {
                        left: 0;
                    }
                }
                &:last-child {
                    .dropdown-menu {
                        right: 31px;
                        left: inherit;
                        @media screen and (max-width: $lg) {
                            right: 15px;
                        }
                        @media screen and (max-width:$md) {
                            right: 0;
                        }
                    }
                }
            }
            li.open {
                a {
                    color: $menu-hover-color;
                    font-family: $font-family-open-sans-bold;
                    background: none;
                    padding: 9px 21px;
                    border: 1px solid $menu-hover-color;
                    &:before{
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: $white-color;
                        position: absolute;
                        left: 0;
                        bottom: -1px;
                        z-index: 9999;
                    }
                    @media screen and (max-width: $sm) {
                        border: none;
                    }
                }
                .dropdown-menu {
                    border: 1px solid $menu-hover-color;
                    top:99%;
                    border-radius: 0;
                    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.175);
                    box-shadow: 0 6px 10px rgba(0,0,0,.175);
                    @media screen and (max-width: $sm) {
                        padding-left: 20px;
                        border: none;
                    }
                    li {
                        width: 100%;
                        border-top: 1px solid $main-menu-border-color;
                        padding: 0 50px 0 20px;
                        &:first-child {
                            border-top: none;
                        }
                        a {
                            color: $black-color;
                            font-family: $font-family;
                            border: none;
                            padding: 10px 0;
                            &:before{
                                content: inherit;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* Undergraduate body button */

a.undergraduate-brown-button {
    @include undergraduate-brown-button;
}

a.undergraduate-gray-button {
    @include undergraduate-gray-button;
}


/* Right Side Academic calender section */

.academic-calender {
    h5 {
        font-family: $font-family-open-sans;
        padding: 0 0 10px 0;
        margin: 0;
        color: $department-base-color;
    }
    .calender-slider {
        border: 2px solid $department-base-color;
        padding: 10px 0;
        position: relative;
        .carousel {
            position: inherit;
            border-bottom: 2px solid $department-base-color;
            padding: 0 10px;
            .carousel-indicators {
                top: -23px;
                left: 0;
                bottom: inherit;
                width: 100%;
                margin: 0;
                li {
                    border: 2px solid $department-base-color;
                    margin: 0;
                    background: $white-color;
                }
                li.active {
                    width: 10px;
                    height: 10px;
                    background: $department-base-color;
                }
            }
            
            .carousel-caption {
                position: relative;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                padding: 0;
                margin-bottom: 10px;
                text-align: left;
                text-shadow: none;
                color: $black-color;
                font-size: $font-size-s;
                line-height: 18px;
                @media screen and (max-width: $sm) {
                        font-size: $font-size-sm;
                        
                    }
                span{
                    width: 100%;
                    float: left;
                    color: $department-base-color;
                    font-family: $font-family-open-sans-bold;
                    font-size: $font-size-s;
                    margin-bottom: 3px;
                    @media screen and (max-width: $sm) {
                        font-size: $font-size-sm;
                        
                    }
                }
            }
        }
        &:after{
            content: '';
            width: 100%;
            height: 2px;
            background: $department-base-color;
            position: absolute;
            bottom: 4px;
        }
        
    }/* calender slider css end */
    
    
    .button-with-white-bg {
        background: none;
        border: 2px solid $department-base-color;
        width: 100%;
        padding: 20px 10px;
        font-family: $font-family-open-sans;
        font-size: $font-size-xxl;
        color: $department-base-color;
        margin: 20px 0;
        display: block;
        @media screen and (min-width: $axs) {
            font-size: $font-size-xxl;
            font-family: $font-family-open-sans-bold;
        }
        @media screen and (min-width:$sm) {
            font-size: $font-size-l;
            font-family: $font-family-open-sans-bold;
        }
        @media screen and (min-width:$md) {
            font-size: $font-size-m;
        }
        @media screen and (min-width:$lg) {
            font-size: $font-size;
        }
    }
    .button-2 {
        background: url(../images/button-bg.jpg) no-repeat 0 -1px $department-base-color;
        border: none;
        width: 100%;
        padding: 20px 10px;
        font-family: $font-family-open-sans;
        font-size: $font-size-xxl;
        color: $white-color;
        @media screen and (min-width: $axs) {
            font-size: $font-size-xxl;
            font-family: $font-family-open-sans-bold;
        }
        @media screen and (min-width:$sm) {
            font-size: $font-size-l;
            font-family: $font-family-open-sans-bold;
        }
        @media screen and (min-width:$md) {
            font-size: $font-size-m;
        }
        @media screen and (min-width:$lg) {
            font-size: $font-size;
        }
    }
}

/*Top Margin for Fixed-header*/

.margin-top {
  margin-top: 239px;
    
}

/*First Paragraph of Content*/

.crimsone-text {
  font-family: $font-family-crimson-roman;
  font-size: $font-size-ll;
  margin-bottom: 25px;
    @media screen and (min-width:$sm) {
            font-size: $font-size;
        }
}


/* inner page to fix bg color */

.top-fix-color-bg-wrapper{
        position: relative;
        
}

.top-fix-color-bg{
        background: $department-background;
        width: 350px;
        position: absolute;
        left: -310px;
        top: 0;
        height: 400px;
        z-index: -1;
    }

.top-fix-color-bg-right{
        background: $department-background;
        width: 350px;
        position: absolute;
        right: -310px;
        top: 0;
        height: 400px;
        z-index: -1;
    }


/* fixed faq button */

.button-faq{
    background: none;
        border: 2px solid $department-base-color;
        
        padding: 5px;
        font-family: $font-family-open-sans-bold;
        font-size: $font-size;
        color: $department-base-color;
    position: absolute;
    right: -43px;
    top: 460px;
    width: 120px;
    text-align: center;
    transform: rotate(90deg);
    @include transition(0.5s);
    &:hover{
        background: $department-base-color;
        color: $white-color;
    }
}

.button-apply{
     @extend .button-faq;
    top: 600px;
}

.bghide{
    overflow-y: hidden;
}


