@import 'main_import';


.contact-person {
    margin-bottom: 40px;
    overflow: hidden;
    table {
        margin-top: 10px;
        a {
            text-decoration: none;
            color: $black-color;
        }
    }
}

.map {
    margin-bottom: 20px;
}