@import 'main_import';

.panel {
  border: 0;
  background: $light-gray-button-color;
  border-radius: 0;
  
.panel-heading {
  padding:0;
  border: 0;
  border-radius: 0;
  background: $light-gray-button-color;
  
  a {
    
    text-decoration: none;
    font-size: $font-size-l;
    display: block;
    padding: 15px;
      font-family: $font-family-open-sans-bold;
      @media screen and (min-width:$sm){
          font-size: $font-size-m;
      }
  }
    
    .collapsed{
        color:$black-color;
        font-family: $font-family-open-sans;
    }
}
  
  .panel-collapse{
    padding: 20px;
  }
  
}

.form-control {
    border: 1px solid $black-color;
  height: 46px;
  border-radius: 0;
  }

.btn {
  background: $department-base-color;
  color: $white-color;
  border: 0;
  border-radius: 0;
  height: 46px;
  line-height: 34px;
  width: 100%;
  
  @media screen and (max-width: $md) { 
    margin-top: 15px;
  }
  
  &:hover {
    background: $department-highlight-color;
    @include transition(0.5s);
  }
}

.no-padding {
  padding: 0;
  
  @media screen and (max-width: $md) {
    padding: 0 15px;
    margin-top: 15px;
  }
}

.faq-right-panel {
  p {
    margin: 25px 0;
  
    a {
      color: $black-color;
    }
  
  }
}