@import 'main_import';
.filter {
    padding: 15px;
    border: $black-color 1px solid;
    margin: 30px 0 ;
    line-height: 14px;
    span {
        display: block;
        border-left: $black-color 2px solid;
        padding-left: 5px;
    }
}

.filter-table {
    margin-bottom: 50px;
    tr {
        &:nth-child(odd) {
            background: $light-gray-button-color;
        }
    }
    td {
        padding: 15px;
        font-size: $font-size-s;
        color: $department-text-gray;
        &:first-child {
            font-size: $font-size-m;
            color: $black-color;
        }
    }
}

.bottm-block {
    div{
        margin-bottom: 20px;
    }
    h2 {
        font-family: $font-family-crimson-roman;
        font-size: $font-h4;
        padding: 15px 0;
        margin: 0;
    }
}

.work-with-gray-bg{
    position: relative;
       .faculty-right-gray-bg{
        background: $widgets-background;
        width: 500px;
        height: 450px;
        position: absolute;
        left: 975px;
        top: 124px;
        z-index: -3;
           @media screen and (min-width:1600px){
               left: 1220px;
               width: 700px;
           }
           @media screen and (max-width:$lg){
               left: inherit;
               width: 300px;
               right: 0;
           }
           
           @media screen and (max-width:$md){
               width: 300px;
               right: 0;
           }
           
            @media screen and (max-width:$sm){
               display: none;
           }
           
           .work-with-us-bg-text{
               font-size: 75px;
               font-family: $font-family-open-sans-light;
               color: $light-gray-button-color;
                line-height: 108px;
                position: absolute;
                left: -230px;
               
               @media screen and (min-width:$sm){
                      top: 142px;
                   }
               @media screen and (min-width:$lg){
                       top: 118px;
                   }
               span{
                   margin-left: 155px;
               }
           }
        }
    .faculty-left-gray-bg{
        @extend .faculty-right-gray-bg;
        left: inherit;
        right: 1448px;
        @media screen and (min-width:1600px){
               left: -800px;
            right: inherit;
           }
        @media screen and (min-width:1900px){
               left: -620px;
            right: inherit;
           }
    }
}