@import 'main_import';
.filter {
    padding: 15px;
    border: $black-color 1px solid;
    margin: 30px 0;
    line-height: 14px;
    span {
        display: block;
        border-left: $black-color 2px solid;
        padding-left: 5px;
    }
}

.filter-table {
    margin-bottom: 50px;
    tr {
        &:nth-child(odd) {
            background: $light-gray-button-color;
        }
    }
    td {
        padding: 15px;
        font-size: $font-size-s;
        color: $department-text-gray;
        &:first-child {
            font-size: $font-size-m;
            color: $black-color;
        }
    }
}

.bottm-block {
    h2 {
        font-family: $font-family-crimson-roman;
        font-size: $font-h4;
        padding: 15px 0;
        margin: 0;
    }
}