@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/source-sans-pro/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_problack';
    src: url('../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('../fonts/source-sans-pro/sourcesanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gotham/gotham-medium1-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-medium1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham/gotham-bold1-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-bold1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham/gotham-light1-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-light1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothambookregular';
    src: url('../fonts/gotham/gothambook_regular-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gothambook_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'loraregular';
    src: url('../fonts/lora/lora-regular-webfont.woff2') format('woff2'),
         url('../fonts/lora/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'timesbold';
    src: url('../fonts/times-bold-webfont.woff2') format('woff2'),
         url('times-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'timesbold_italic';
    src: url('../fonts/times-bolditalic-webfont.woff2') format('woff2'),
         url('times-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'timesitalic';
    src: url('../fonts/times-italic-webfont.woff2') format('woff2'),
         url('times-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'timesregular';
    src: url('../fonts/times-roman-webfont.woff2') format('woff2'),
         url('times-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Font for Department*/

@font-face {
    font-family: 'crimson_textbold';
    src: url('../fonts/crimson-bold/crimsontext-bold-webfont.woff2') format('woff2'),
         url('../fonts/crimson-bold/crimsontext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'crimson_textitalic';
    src: url('../fonts/crimson-italic/crimsontext-italic-webfont.woff2') format('woff2'),
         url('../fonts/crimson-italic/crimsontext-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'crimson_textroman';
    src: url('../fonts/crimson-regular/crimsontext-regular-webfont.woff2') format('woff2'),
         url('../fonts/crimson-regular/crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open_sans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open_sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
