@import 'main_import';
.history-page {
  .content-wrapper {
    background: rgba(0, 81, 151, 1);
    background: -moz-linear-gradient(left, rgba(0, 81, 151, 1) 0%, rgba(0, 81, 151, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 81, 151, 1)), color-stop(39%, rgba(0, 81, 151, 1)), color-stop(39%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 81, 151, 1) 0%, rgba(0, 81, 151, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 81, 151, 1) 0%, rgba(0, 81, 151, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 81, 151, 1) 0%, rgba(0, 81, 151, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(0, 81, 151, 1) 0%, rgba(0, 81, 151, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 100%);
   
    
    position: relative;
  }
  .top-content {
    position: absolute;
    left: 75px;
    top: 15px;
    z-index: 3;
    h1 {
      color: $white-color;
    }
    .breadcrumb {
      color: $white-color;
    }
  }


.position {
  position: relative;
}
.slider-block {
  width:1920px;  
  position:absolute; 
  left: 50%; 
  -webkit-transform: translateX(-50%); 
  transform: translateX(-50%); 
  top:393px; 
  z-index:3;
}

.carousel-container {
  position: relative;
  width: 100%;
}

#carousel {
  height: 280px;
  width: 100%;
  position: relative;
}

.carousel-feature {
  position: absolute;
  top: -1000px;
  left: -1000px;
  cursor: pointer;
  
  height: 355px !important;
}

.carousel-inner-wrapper {
  width: 100%;
    
  height: 355px !important;
}

.carousel-image {
  border: 0;
  width: 441px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.24);
}

.slide-content {
  float: right;
  width: 450px;
  font-size: $font-size-s;
  position: relative;
  height: 332px;
  
  div {
    position: absolute;
    bottom: 0;
    left: 0;
    
    h2 {
      color: $button-color-2;
      font-family: $font-family-crimson-roman;
      font-size: $font-h1;
    }
    
    p {
      margin-bottom: 0;
    }
  }
}

#carousel-left {
  position: absolute;
  bottom: 33px;
  left: 220px;
  cursor: pointer;
}

#carousel-right {
  position: absolute;
  bottom: 33px;
  right: 220px;
  cursor: pointer;
}

.tracker-individual-container {
  
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
  position:absolute;
  left: 37%; 
  -webkit-transform: translateX(-37%); 
  transform: translateX(-37%); 
  top:-85px; 
  z-index:3;
}
  
  .tracker-individual-container li:nth-child(2) {
  list-style:none;
  position:absolute;
  left: 31%; 
  -webkit-transform: translateX(-31%); 
  transform: translateX(-31%); 
  top:-61px; 
  z-index:3;
}
  
  
  .tracker-individual-container li:nth-child(3) {
  list-style:none;
  position:absolute;
  left: 25.8%; 
  -webkit-transform: translateX(-25.8%); 
  transform: translateX(-25.8%); 
  top:9px; 
  z-index:3;
}
  
  .tracker-individual-container li:nth-child(4) {
  list-style:none;
  position:absolute;
  left: 22.8%; 
  -webkit-transform: translateX(-22.8%); 
  transform: translateX(-22.8%); 
  top:113px; 
  z-index:3;
}
  
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  border: 1px solid $white-color;
  background:#005197;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 0;
}
.tracker-individual-container .tracker-individual-blip-selected {
  
  
  background: $white-color;
   -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
}