@import 'main_import';
.second-menu {
  
  background-color: #f5f5f5;
  clear: both;
  position: fixed;
  top: 86px;
  width: 100%;
  z-index: 4;
  
  @media screen and (max-width: $axs) {
    position: relative;
  }
  
  @media screen and (max-width: $xs) {
    top:71px;
  }
  
  .navbar-toggle {
    margin-right: 49px;
    margin-top: 10px;
    @media screen and (min-width: $sm) {
      display: none;
    }
  }
  /*Main Menu*/
  .navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-default {
    .navbar-nav {
      width: 100%;
      padding: 0;
      
      li {
        float: left;
        
        @media screen and (max-width: $sm){
            float: none;
          }
        
        a {
          /*width: 200px;*/
          padding: 23px 40px;
          font-size:$font-size-l;
          color: $rightsidebar-navigation-bg;
          
          @media screen and (max-width: $lg){
            padding: 23px 29px;
          }
          
          @media screen and (max-width: $md){
            padding: 10px 32px;
          }
          
          &:active {
            background-color: $white-color;
            border: #e1e1e1 1px solid;
            border-bottom: 0;
            -webkit-box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
            -moz-box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
            box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
            
            padding: 22px 39px;
            
            @media screen and(max-width: $md){
              border: 0;
              box-shadow: none;
            }
            @media screen and (max-width: $lg){
            padding: 23px 29px;
          }
          
          @media screen and (max-width: $md){
            padding: 10px 32px;
          }
          
          @media screen and (max-width: $md){
            padding: 15px 18px;
          }
          }
          
          
          &:focus {
            background-color: $white-color;
            border: #e1e1e1 1px solid;
            border-bottom: 0;
            -webkit-box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
            -moz-box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
            box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
            padding: 22px 39px;
            
            @media screen and(max-width: $md){
              border: 0;
              box-shadow: none;
            }
            @media screen and (max-width: $lg){
            padding: 23px 29px;
          }
          
          @media screen and (max-width: $md){
            padding: 10px 32px;
          }
          
          @media screen and (max-width: $md){
            padding: 15px 18px;
          }
          }
          
          
        }
        &:last-child {
          ul {
            li {
              width: 100%;
              a {
                color: $light-gray !important;
              }
            }
          }
        }
      }
      .border-left {
        border-left: $light-gray 1px solid;
        
        @media screen and (max-width: $md){
          border: none;
        }
        
        ul {
          li {
            &:first-child {
              a {
                font-size: 14px !important;
              }
            }
          }
        }
      }
      
      .open {
        .dropdown-menu {
          background-color: $white-color;
        }
      }
    }
  }
  /*Sub Menu*/
}

.mega-dropdown {
  position: static !important;
  /*width: 100%;*/
}

.mega-dropdown-menu {
  padding: 24px 9px;
  /*width: 100%;*/
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  border: #e1e1e1 1px solid;
  -webkit-box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
  -moz-box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
  box-shadow: 0px 8px 18px -2px rgba(246, 246, 246, 1);
  background-color: $white-color;
  z-index: 4;
  
  li {
    
    ul {
      padding: 0;
      margin: 0;
      z-index: 4;
      
      li {
        list-style: none;
        
        a {
          display: block;
          padding: 5px 11px !important;
          clear: both;
          font-weight: 600;
          color: $base-blue-color !important;
          white-space: normal;
          font-size: $font-size !important;
          
          @media screen and (max-width: $md){
            padding: 0 !important;
            font-size: $font-size-xs !important;
          }
          
          @media screen and (max-width: $sm){
            padding: 0 !important;
            font-size: $font-size !important;
          }
          
        }
      }
    }
  }
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
}