@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*10px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/* line 3, ../sass/chancellor.scss */
img {
  max-width: 100%;
}

/*Top Content*/
@media screen and (max-width: 768px) {
  /* line 10, ../sass/chancellor.scss */
  .top-content .col-sm-5 {
    text-align: center;
  }
}

/* line 17, ../sass/chancellor.scss */
.more-link {
  display: block;
  border: #0058A6 1px solid;
  color: #0058A6;
  padding: 8px 0;
  text-align: center;
  width: 150px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
/* line 26, ../sass/chancellor.scss */
.more-link:hover {
  background: #0058A6;
  color: #ffffff;
}

/* line 32, ../sass/chancellor.scss */
.img-text {
  padding-top: 25px;
  line-height: 22px;
}
/* line 36, ../sass/chancellor.scss */
.img-text span {
  color: #0058A6;
}
/* line 39, ../sass/chancellor.scss */
.img-text a {
  color: #747474;
}

/*Middle*/
/* line 45, ../sass/chancellor.scss */
.middle-panel {
  margin-top: 150px;
}
@media screen and (max-width: 992px) {
  /* line 45, ../sass/chancellor.scss */
  .middle-panel {
    margin-top: 50px;
  }
}

/*Left Panel*/
/* line 58, ../sass/chancellor.scss */
.left-panel p:nth-child(3) {
  background: #f8f8f8;
  padding: 10px 0;
  position: relative;
}
@media screen and (max-width: 480px) {
  /* line 58, ../sass/chancellor.scss */
  .left-panel p:nth-child(3) {
    background: none;
  }
}
/* line 70, ../sass/chancellor.scss */
.left-panel .grey-bg {
  position: absolute;
  left: -299px;
  top: 0;
  width: 300px;
  height: 104px;
  background: #f8f8f8;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  /* line 70, ../sass/chancellor.scss */
  .left-panel .grey-bg {
    height: 132px;
  }
}
@media screen and (max-width: 992px) {
  /* line 70, ../sass/chancellor.scss */
  .left-panel .grey-bg {
    height: 187px;
  }
}
@media screen and (max-width: 768px) {
  /* line 70, ../sass/chancellor.scss */
  .left-panel .grey-bg {
    height: 103px;
  }
}
@media screen and (max-width: 635px) {
  /* line 70, ../sass/chancellor.scss */
  .left-panel .grey-bg {
    height: 132px;
  }
}
@media screen and (max-width: 480px) {
  /* line 70, ../sass/chancellor.scss */
  .left-panel .grey-bg {
    display: none;
  }
}

/* line 102, ../sass/chancellor.scss */
h2 {
  font-size: 1.25rem;
  line-height: 32px;
  color: #0058A6;
  font-family: "crimson_textroman";
  font-weight: normal;
}

/* line 110, ../sass/chancellor.scss */
h3 {
  font-size: 1rem;
  line-height: 32px;
  color: #0058A6;
  font-family: "gotham_mediumregular";
  font-weight: normal;
  padding: 10px 0 0;
  text-transform: uppercase;
}

/*Right Panel*/
/* line 121, ../sass/chancellor.scss */
.right-panel {
  padding-left: 100px;
}
@media screen and (max-width: 768px) {
  /* line 121, ../sass/chancellor.scss */
  .right-panel {
    padding-left: 15px;
  }
}

/* line 127, ../sass/chancellor.scss */
.details {
  border: #ededed 1px solid;
  padding: 20px 15px;
  margin-bottom: 10px;
}
/* line 132, ../sass/chancellor.scss */
.details a {
  color: #747474;
}

/*Previous Chancellor*/
/* line 138, ../sass/chancellor.scss */
.prev-chancellor {
  background: #000000;
  margin-top: 120px;
  padding: 40px 0;
  color: #c4c4c4;
  font-size: 0.75rem;
}
@media screen and (max-width: 768px) {
  /* line 147, ../sass/chancellor.scss */
  .prev-chancellor img {
    margin: 0 auto;
  }
}
/* line 152, ../sass/chancellor.scss */
.prev-chancellor h2 {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "gotham_mediumregular";
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  /* line 159, ../sass/chancellor.scss */
  .prev-chancellor .col-sm-4 {
    text-align: center;
  }
}
/* line 164, ../sass/chancellor.scss */
.prev-chancellor .prev-text {
  margin-top: 7%;
}
/* line 167, ../sass/chancellor.scss */
.prev-chancellor .img-text {
  padding-top: 10px;
}
/* line 170, ../sass/chancellor.scss */
.prev-chancellor .img-text span {
  color: #ffffff;
  nt-size: 1rem;
}

/*# sourceMappingURL=chancellor.css.map */
