@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham/gotham-medium1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-medium1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham/gotham-bold1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-bold1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham/gotham-light1-webfont.woff2") format("woff2"), url("../fonts/gotham/gotham-light1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambookregular';
  src: url("../fonts/gotham/gothambook_regular-webfont.woff2") format("woff2"), url("../fonts/gotham/gothambook_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold';
  src: url("../fonts/times-bold-webfont.woff2") format("woff2"), url("times-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesbold_italic';
  src: url("../fonts/times-bolditalic-webfont.woff2") format("woff2"), url("times-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesitalic';
  src: url("../fonts/times-italic-webfont.woff2") format("woff2"), url("times-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timesregular';
  src: url("../fonts/times-roman-webfont.woff2") format("woff2"), url("times-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Font for Department*/
@font-face {
  font-family: 'crimson_textbold';
  src: url("../fonts/crimson-bold/crimsontext-bold-webfont.woff2") format("woff2"), url("../fonts/crimson-bold/crimsontext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url("../fonts/crimson-italic/crimsontext-italic-webfont.woff2") format("woff2"), url("../fonts/crimson-italic/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url("../fonts/crimson-regular/crimsontext-regular-webfont.woff2") format("woff2"), url("../fonts/crimson-regular/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/open_sans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/open_sans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Fonts for Department*/
/*16px*/
/*17px*/
/*18px*/
/*19px*/
/*20px*/
/*22px*/
/*15px*/
/*14px*/
/*12px*/
/*11px*/
/*10px*/
/*36px*/
/*32px*/
/*26px*/
/*24px*/
/*22px*/
/*20px*/
/*17px*/
/* Department section  */
/* line 4, ../sass/history.scss */
.history-page .content-wrapper {
  background: #005197;
  background: -moz-linear-gradient(left, #005197 0%, #005197 39%, white 39%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #005197), color-stop(39%, #005197), color-stop(39%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(left, #005197 0%, #005197 39%, white 39%, white 100%);
  background: -o-linear-gradient(left, #005197 0%, #005197 39%, white 39%, white 100%);
  background: -ms-linear-gradient(left, #005197 0%, #005197 39%, white 39%, white 100%);
  background: linear-gradient(to right, #005197 0%, #005197 39%, white 39%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005197', endColorstr='#ffffff', GradientType=1 );
  position: relative;
}
/* line 17, ../sass/history.scss */
.history-page .top-content {
  position: absolute;
  left: 75px;
  top: 170px;
  z-index: 3;
}
/* line 23, ../sass/history.scss */
.history-page .top-content h1 {
  color: #ffffff;
}
/* line 27, ../sass/history.scss */
.history-page .top-content .breadcrumb {
  color: #ffffff;
}
/* line 35, ../sass/history.scss */
.history-page .dots {
  background: url(../images/dot-blank.png) no-repeat;
  position: absolute;
  left: 261px;
  top: 353px;
  width: 13px;
  height: 13px;
}

/* line 45, ../sass/history.scss */
.dots-fill {
  background: url(../images/dot-white.png) no-repeat;
  position: absolute;
  left: 402px;
  top: 335px;
  width: 13px;
  height: 13px;
}

/*Carousel*/
 /*.carousel-container {
  position:relative;
  width:100%;
}
#carousel {
  position:relative;
}

.carousel-feature { 
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
}

.carousel-inner-wrapper {
  width:100%;
}
 .carousel-image {
  border:0;
  float: left;
}

.carousel-text {
  float: left;
  width: 50%;
}

.tracker-individual-container, .tracker-summation-container {
  display: none !important;
}*/
/* line 89, ../sass/history.scss */
.carousel-container {
  position: relative;
  width: 100%;
}

/* line 93, ../sass/history.scss */
#carousel {
  height: 280px;
  width: 100%;
  position: relative;
}

/* line 99, ../sass/history.scss */
.carousel-feature {
  position: absolute;
  top: -1000px;
  left: -1000px;
  cursor: pointer;
}

/* line 105, ../sass/history.scss */
.carousel-inner-wrapper {
  width: 100%;
}

/* line 108, ../sass/history.scss */
.carousel-image {
  border: 0;
  display: inline-block;
  width: 400px;
}

/* line 114, ../sass/history.scss */
.slide-content {
  display: inline-block;
  width: 40%;
}

/* line 119, ../sass/history.scss */
#carousel-left {
  position: absolute;
  bottom: 33px;
  left: 220px;
  cursor: pointer;
}

/* line 125, ../sass/history.scss */
#carousel-right {
  position: absolute;
  bottom: 33px;
  right: 220px;
  cursor: pointer;
}

/*# sourceMappingURL=history.css.map */
